<template>
    <main>
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><router-link to="\admin\dashboard"> Home</router-link></li>
                            <li class="breadcrumb-item active">Add Permission</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add New Permission</h3>
                        </div>
                        <form @submit.prevent="handleSubmit">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Permission</label>
                                    <input type="text" v-model="permission.permission_name" class="form-control" id="user_name" name="user_name" placeholder="Enter name" :class="{ 'is-invalid': submitted && $v.permission.permission_name.$error }">
                                    <div v-if="submitted && !$v.permission.permission_name.required" class="invalid-feedback">Role Name is required</div>
                                </div>
                                
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-secondary" style="float:right" @click="backtoprevious()"><i class="fas fa-angle-left"></i> Back</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </main>
</template>
<script>
import { required, email, minLength, sameAs } from "vuelidate/lib/validators";

export default {
    data() {
        return {
         
            roles : [],
            permissions:[],
            permission: 
            {
                permission_name: ""
            },
            submitted: false
        };
        
    },
    validations: {
        permission: {
            permission_name: { required }
        }
    },
    methods: {
        all_permissions: function() {
            axios.get(this.API_BASE_URL+'permissions').then(response => {
                this.permissions = response.data.data;
                console.log(this.permissions);
            })
            .catch(error => {
                console.log("error");
            });
        },
        handleSubmit(e) {
            this.submitted = true;
            this.$v.$touch();
            if (this.$v.$invalid) {
                return;
            }
            axios.post(this.API_BASE_URL + 'create/permission', this.permission).then(response => {
                let data = response.data;
                if(data.status == '200'){
                    console.log(data.message);
                     Vue.$toast.success(data.message, {
                        position: 'top'
                    });
                    this.$v.$reset();
                } else{
                    Vue.$toast.error(data.message, {
                        position: 'top'
                    });
                    this.$v.$reset();
                }
            }).catch(error => {
                Vue.$toast.error(data.message, {
                    position: 'top'
                })
            });
        }
    },
    beforeMount(){
        this.all_permissions();
        //console.log(this.user);
    },
}
</script>
