<template>
    <!-- Content Wrapper. Contains page content -->
    <main>
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><router-link to="\admin\dashboard"> Home</router-link></li>
                            <li class="breadcrumb-item active">Add User</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add New User</h3>
                        </div>
                        <form @submit.prevent="handleSubmit">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputName">User Name</label>
                                    <input type="text" v-model="user.user_name" class="form-control" id="user_name" name="user_name" placeholder="Enter name" :class="{ 'is-invalid': submitted && $v.user.user_name.$error }">
                                    <div v-if="submitted && !$v.user.user_name.required" class="invalid-feedback">User Name is required</div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" v-model="user.email_address" class="form-control" name="email_address" id="email_address" placeholder="Enter email"  :class="{ 'is-invalid': submitted && $v.user.email_address.$error }" >
                                    <div v-if="submitted && $v.user.email_address.$error" class="invalid-feedback">
                                        <span v-if="!$v.user.email_address.required">Email is required</span>
                                        <span v-if="!$v.user.email_address.email">Email is invalid</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">User Contact Number</label>
                                    <input maxlength="10" type="text" @keypress="IsNumber($event)" v-model="user.contact_number" class="form-control" name="contact_number" id="contact_number" placeholder="Enter Contact Number"  :class="{ 'is-invalid': submitted && $v.user.contact_number.$error }" >
                                    <div v-if="submitted && $v.user.contact_number.$error" class="invalid-feedback">
                                        <span v-if="!$v.user.contact_number.required">Contact number is required</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Date of Birth</label>
                                    <input type="date" v-model="user.dob" class="form-control" name="dob" id="dob" placeholder="Enter Contact Number"  :class="{ 'is-invalid': submitted && $v.user.dob.$error }" >
                                    <div v-if="submitted && $v.user.dob.$error" class="invalid-feedback">
                                        <span v-if="!$v.user.dob.required">Date of birth is required</span>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <div class="form-group" :class="{ 'is-invalid': submitted && $v.user.gender.$error }">
                                        <div class="form-check form-check-inline" :class="{ 'is-invalid': submitted && $v.user.gender.$error }">
                                            <input class="form-check-input" type="radio" name="gender" v-model="user.gender" id="gender1" value="0">
                                            <label class="form-check-label" for="gender1">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline" :class="{ 'is-invalid': submitted && $v.user.gender.$error }">
                                            <input class="form-check-input" type="radio" name="gender" v-model="user.gender" id="gender2" value="1">
                                            <label class="form-check-label" for="gender2">Female</label>
                                        </div>

                                        <div v-if="submitted && $v.user.gender.$error" class="invalid-feedback">
                                            <span v-if="!$v.user.gender.required">Please select user gender</span>
                                        </div>                    
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" v-model="user.password" class="form-control" id="password" name="password" placeholder="Password" :class="{ 'is-invalid': submitted && $v.user.password.$error }">
                                    <div v-if="submitted && $v.user.password.$error" class="invalid-feedback">
                                        <span v-if="!$v.user.password.required">Password is required</span>
                                        <span v-if="!$v.user.password.minLength">Password must be at least 6 characters</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Select Role</label>
                                    <select class="form-control" v-model="user.user_role"  name="user_role" :class="{ 'is-invalid': submitted && $v.user.user_role.$error }">
                                        <option v-for="role in roles" :key="role.id" :value="role.id">{{ role.role_name }}</option>
                                    </select>
                                    <div v-if="submitted && !$v.user.user_role.required" class="invalid-feedback">User Role is required</div>
                                </div>
                                <div class="form-group">
                                    <label>Select Permissions</label>
                                    <select multiple class="form-control" v-model="user.user_permission"  name="user_permission"  :class="{ 'is-invalid': submitted && $v.user.user_permission.$error }">
                                        <option v-for="permission in permissions" :key="permission.id" :value="permission.id">{{ permission.permission_name }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">Upload Profile Picture</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="exampleInputFile" ref="user_profile_image" @change="selectedFile" :class="{ 'is-invalid': submitted && $v.user.user_profile_image.$error }">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                        </div>
                                    </div>
                                    <div v-if="submitted && !$v.user.user_profile_image.required" class="invalid-feedback">Profile Picture is required</div>

                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <button type="reset" class="btn btn-warning">Reset</button>
                                <button type="button" class="btn btn-secondary" style="float:right" @click="backtoprevious()"><i class="fas fa-angle-left"></i> Back</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </main>
   
</template>
<script>

import { required, email, minLength, sameAs ,numeric, maxLength} from "vuelidate/lib/validators";

export default {
    
    data() {
        return {
            roles : [],
            text:'',
            permissions: [],
            profile_image:"",
            user: 
            {
                user_name: "",
                email_address: "",
                contact_number: "",
                dob:"",
                gender:"",
                password: "",
                user_role: "",
                user_permission: [],
                user_profile_image:{}
            },
            submitted: false
        };
        
    },
    validations: {
        user: {
            user_name: { required },
            email_address: { required, email },
            contact_number: {required,numeric,minLength: minLength(10),maxLength:maxLength(10)},
            dob: {required},
            gender: {required},
            password: { required, minLength: minLength(6) },
            user_role: { required},
            user_permission : {required},
            user_profile_image: {required}
        },
        
    },
    methods: {
        all_roles: function() {
            axios.get(this.API_BASE_URL+'roles').then(response => {
                this.roles = response.data.data;
                console.log(this.roles);
            })
            .catch(error => {
                console.log("error");
            });
        },
        all_permissions: function() {
            axios.get(this.API_BASE_URL+'permissions').then(response => {
                this.permissions = response.data.data;
                console.log(this.permissions);
            })
            .catch(error => {
                console.log("error");
            });
        },
        IsNumber(event) {
            if (!/\d/.test(event.key) && event.key !== '.') return event.preventDefault();
        },
        handleSubmit(e) {
            this.submitted = true;
            const formData = new FormData();

            const file = this.$refs.user_profile_image.files[0];
            this.$v.$touch();
            if (this.$v.$invalid) {
                return;
            }
            if (!file) {
                e.preventDefault();
                this.$v.user.user_profile_image.$touch();
                if(this.$v.user.user_profile_image.$invalid){
                    return;
                }
            }else{
                formData.append('file', this.profile_image);
                formData.append('module_name', 'user');
                formData.append('type', 'profile_image');
                console.log(formData);
                this.user.user_profile_image = formData;
            }
            
            axios.post(this.API_BASE_URL + 'create/user', this.user).then(response => {
                let data = response.data;
                if(data.status == '200'){
                    console.log(data.message);
                    formData.append('respective_id', data.data.id);
                    axios.post(this.API_BASE_URL + 'uploads', formData).then(response => {
                        console.log("success");
                    }).catch(error => {
                        console.log("error");
                    });
                   
                    Toast.fire({
                        icon: 'success',
                        title: data.message
                    });
                } else{
                   
                    Toast.fire({
                        icon: 'error',
                        title: data.message
                    });
                }
            }).catch(error => {
               
                    Toast.fire({
                        icon: 'error',
                        title: data.message
                    });
            });
        },
        selectedFile() {
          
            let file = this.$refs.user_profile_image.files[0];

            this.profile_image = this.$refs.user_profile_image.files[0];
            this.user.user_profile_image = this.profile_image;
            if(!file || file.type !== 'text/plain') return;
            
            let reader = new FileReader();
            reader.readAsText(file, "UTF-8");
            reader.onload =  evt => {
                this.text = evt.target.result;
                console.log(evt.target.result);
            }
            reader.onerror = evt => {
                console.error(evt);
            }
        },
        // backtoprevious: function(){
        //     this.$router.go(-1);
        // }
    },
    beforeMount(){
        this.all_roles();
        this.all_permissions();
        
        //console.log(this.user);
    },
    
    
}
</script>
