<template>
    <main>
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><router-link to="\admin\dashboard"> Home</router-link></li>
                            <li class="breadcrumb-item active">Create Group</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Add New Group</h3>
                            </div>
                            <form @submit.prevent="handleSubmit" enctype="multipart/form-data" ref="group_form" >
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Group Name</label>
                                        <input type="text" v-model="group.group_name" class="form-control" id="group_name" name="group_name" placeholder="Enter group name" :class="{ 'is-invalid': submitted && $v.group.group_name.$error }">
                                        <div v-if="submitted && !$v.group.group_name.required" class="invalid-feedback">User Name is required</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Group joining Charges</label>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input type="number" v-model="group.group_charge" class="form-control" name="group_charge" id="group_charge" placeholder="Enter group join charge"  :class="{ 'is-invalid': submitted && $v.group.group_charge.$error }" >
                                            
                                            <div class="input-group-append">
                                                <span class="input-group-text">.00</span>
                                            </div>
                                            <div v-if="submitted && $v.group.group_charge.$error" class="invalid-feedback">
                                                <span v-if="!$v.group.group_charge.required">Group joining Charges is required</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="group_profile_picture">Group Profile Picture</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="group_profile_picture" ref="group_profile_image" @change="selectedFile" :class="{ 'is-invalid': submitted && $v.group.profile_image.$error }">
                                                <label class="custom-file-label" for="group_profile_picture">Choose file</label>
                                            </div>
                                            
                                        </div>
                                        <div v-if="submitted && !$v.group.profile_image.required" class="invalid-feedback">Profile Picture is required</div>
                                    </div>
                                    
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="reset" class="btn btn-warning">Reset</button>
                                    <button type="button" class="btn btn-secondary" style="float:right" @click="backtoprevious()"><i class="fas fa-angle-left"></i> Back</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>
<script>
    import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
    export default {
        data() {
            return {
                
                profile_image: "",
                group: 
                {
                    group_name: "",
                    group_charge: "",
                    profile_image: ""
                },
                submitted: false
            };
            
        },
        validations: {
            group: {
                group_name: { required },
                group_charge: { required },
                profile_image: {required}
            }
        },
        methods: {
            handleSubmit:function(e) {
                this.submitted = true;
                const formData = new FormData();
                const file = this.$refs.group_profile_image.files[0];
                console.log(file,1);
                this.$v.$touch();
                if (this.$v.$invalid) {
                    return;
                }
                if (!file) {
                    console.log(file,3);
                    e.preventDefault();
                    this.$v.group.profile_image.$touch();
                    if(this.$v.group.profile_image.$invalid){
                        return;
                    }
                }else{
                    console.log(this.profile_image,4);
                    formData.append('file', this.profile_image);
                    formData.append('module_name', 'group');
                    formData.append('type', 'profile_image');
                    console.log(formData);
                    this.group.profile_image = formData;
                }
                console.log(this.group.profile_image);
                axios.post(this.API_BASE_URL + 'create/group', this.group).then(response => {
                    let data = response.data;
                    if(data.status == '200'){
                        formData.append('respective_id', data.data.id);
                        axios.post(this.API_BASE_URL + 'uploads', formData).then(response => {
                            console.log("success");
                        }).catch(error => {
                            console.log("error");
                        });
                        Toast.fire({
                            icon: 'success',
                            title: data.message
                        });
                    } else{
                        Toast.fire({
                            icon: 'error',
                            title: data.message
                        });
                        
                    }
                    this.submitted = false;
                    var self = this;
                    Object.keys(this.group).forEach(function(key,index) {
                        self.group[key] = '';
                    });
                    e.target.reset();
                }).catch(error => {
                    Toast.fire({
                        icon: 'error',
                        title: data.message
                    });
                });
            },
            backtoprevious: function(){
                this.$router.go(-1);
            },
        
            selectedFile() {
                let file = this.$refs.group_profile_image.files[0];
                this.profile_image = this.$refs.group_profile_image.files[0];
                this.group.profile_image = this.profile_image;
                if(!file || file.type !== 'text/plain') return;
                
                let reader = new FileReader();
                reader.readAsText(file, "UTF-8");
                reader.onload =  evt => {
                    this.text = evt.target.result;
                }
                reader.onerror = evt => {
                    console.error(evt);
                }
            }
        },
        beforeMount(){
            //console.log(this.user);
        },
        
        
    }
</script>
