<template>
    <main>
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><router-link to="\admin\dashboard"> Home</router-link></li>
                            <li class="breadcrumb-item active">edituser</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid img-circle"
                                    :src="this.UPLOADS_URL+this.profile_image"
                                    alt="User profile picture">
                                </div>
                                <h3 class="profile-username text-center">{{user_data.name}}</h3>
                                <p class="text-muted text-center">{{user_data.email}}</p>
                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Role: </b> 
                                        <a class="float-right">
                                            {{user_role}}
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Permissions: </b> 
                                        <a class="float-right">
                                            <a  v-for="user_permission in this.user_permission" :key="user_permission.permission_id"> {{user_permission.permissions.permission_name}}, </a>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Phone Number</b> <a class="float-right">{{user_data.contact_number}}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Date of Birth</b> <a class="float-right">{{user_data.dob}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#edit" data-toggle="tab">Update Basic Details</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#profile_picture" data-toggle="tab">Change Profile Picture</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#change_password" data-toggle="tab">Change Password</a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active  tab-pane" id="edit">
                                        <form class="form-horizontal" @submit.prevent="handleSubmit_basics">
                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                                <div class="col-sm-10">
                                                    <input type="text" v-model="user.user_name" class="form-control" id="user_name" name="user_name" placeholder="Enter name" :class="{ 'is-invalid': submitted_basic && $v.user.user_name.$error }">
                                                    <div v-if="submitted_basic && !$v.user.user_name.required" class="invalid-feedback">User Name is required</div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                                <div class="col-sm-10">
                                                    <input type="email" v-model="user.email_address" class="form-control" name="email_address" id="email_address" placeholder="Enter email"  :class="{ 'is-invalid': submitted_basic && $v.user.email_address.$error }" >
                                                    <div v-if="submitted_basic && $v.user.email_address.$error" class="invalid-feedback">
                                                        <span v-if="!$v.user.email_address.required">Email is required</span>
                                                        <span v-if="!$v.user.email_address.email">Email is invalid</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputName2" class="col-sm-2 col-form-label">Phone Number</label>
                                                <div class="col-sm-10">
                                                    <input maxlength="10" type="text" @keypress="IsNumber($event)"  v-model="user.contact_number" class="form-control" name="contact_number" id="contact_number" placeholder="Enter Contact Number"  :class="{ 'is-invalid': submitted_basic && $v.user.contact_number.$error }" >
                                                    <div v-if="submitted_basic && $v.user.contact_number.$error" class="invalid-feedback">
                                                        <span v-if="!$v.user.contact_number.required">Contact number is required</span>
                                                        <span v-if="!$v.user.contact_number.minLength">Contact number length should be 10 Digits long</span>
                                                        <span v-if="!$v.user.contact_number.maxLength">Contact number length should be 10 Digits long</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputExperience" class="col-sm-2 col-form-label">Date of Birth</label>
                                                <div class="col-sm-10">
                                                    <input type="date"  v-model="user.dob" class="form-control" name="dob" id="dob" placeholder="Enter Contact Number"  :class="{ 'is-invalid': submitted_basic && $v.user.dob.$error }" >
                                                    <div v-if="submitted_basic && $v.user.dob.$error" class="invalid-feedback">
                                                        <span v-if="!$v.user.dob.required">Date of birth is required</span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group row">
                                                <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="profile_picture">
                                        <form class="form-horizontal" @submit.prevent="update_profilepicture" >
                                            <div class="form-group row">
                                                <label for="inputExperience" class="col-sm-2 col-form-label">Profile Picture</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="exampleInputFile" ref="user_profile_image" @change="selectedFile" :class="{ 'is-invalid': submitted_profile_picture && $v.user.user_profile_image.$error }">
                                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                                            <div v-if="submitted_profile_picture && !$v.user.user_profile_image.required" class="invalid-feedback">Please choose profile image to update</div>
                                                        </div>
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-danger">Upload</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="change_password">
                                        <form class="form-horizontal" @submit.prevent="update_password">
                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-2 col-form-label">Change Password</label>
                                                <div class="col-sm-10">
                                                    <input type="password" class="form-control" id="inputName" placeholder="Enter new password" v-model="user.password" :class="{'is-invalid': submitted_password && $v.user.password.$error}">
                                                    <div v-if="submitted_password && $v.user.password.$error" class="invalid-feedback">
                                                        <span v-if="!$v.user.password.required">Password Required</span>
                                                        <span v-if="!$v.user.password.minLength">Password mininmum length should be  6</span>
                                                        <span v-if="!$v.user.password.maxLength">Password maximum length should be  8</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="offset-sm-2 col-sm-10">
                                                    <button type="submit" class="btn btn-danger">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-secondary" @click="backtoprevious()"><i class="fas fa-angle-left"></i> Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>
<script>
    import { required, email, minLength, sameAs ,numeric, maxLength} from "vuelidate/lib/validators";
    import Datepicker from 'vuejs-datepicker';
    export default {
    
    data() {
        return {
            asset_url : this.ASSET_URL,
            id: this.$route.params.id,
            user_data:[],
            profile_image:"",
            new_profile_image:"",
            permissions:[],
            user_role:'',
            user_role_id:'',
            roles : [],
            user_permission:[],
            user: 
            {
                id:this.$route.params.id,
                user_name: "",
                email_address: "",
                contact_number: "",
                dob:"",
                user_profile_image: {},
                user_role: "",
                user_permission: [],
                password:""
            },
            submitted_basic: false,
            submitted_profile_picture: false,
            submitted_password : false
        };
        
    },
    validations: {
        user: {
            id:{required},
            user_name: { required },
            email_address: { required, email },
            contact_number: {required,numeric,minLength: minLength(10),maxLength:maxLength(10)},
            dob: {required},
            user_profile_image: {required},
            password:{required, minLength: minLength(6),maxLength:maxLength(8)}
        },
    },
    methods:{
        user_profile: function() {
            axios.get(this.API_BASE_URL +'get/user/'+this.id).then(response => {
                this.user_data = response.data.data;
                this.profile_image = this.user_data.profile_picture.path;
               // console.log(this.profile_image);
                this.user.user_name =  this.user_data.name;
                this.user.email_address =  this.user_data.email;
                this.user.contact_number =  this.user_data.contact_number;
                this.user.dob =  this.user_data.dob;
                this.user.user_role = this.user_data.user_permission[0].roles.id;
                this.user_permission = this.user_data.user_permission;
                this.user_role = this.user_data.user_permission[0].roles.role_name;
                this.user_role_id = this.user_data.user_permission[0].roles.id;
            })
            .catch(error => {
                console.log("error");
            });
        },
        all_roles: function() {
            axios.get(this.API_BASE_URL+'roles').then(response => {
                this.roles = response.data.data;
                console.log(this.roles);
            })
            .catch(error => {
                console.log("error");
            });
        },
        all_permissions: function() {
            axios.get(this.API_BASE_URL+'permissions').then(response => {
                this.permissions = response.data.data;
                console.log(this.permissions);
            })
            .catch(error => {
                console.log("error");
            });
        },
        IsNumber(event) {
            if (!/\d/.test(event.key) && event.key !== '.') return event.preventDefault();
        },
        handleSubmit_basics: function(){
            this.submitted_basic = true;
            this.$v.user.user_name.$touch();
            this.$v.user.email_address.$touch();
            this.$v.user.contact_number.$touch();
            //this.$v.user.user_permission.$touch();
            this.$v.user.dob.$touch();
            if (this.$v.user.user_name.$invalid || this.$v.user.email_address.$invalid || this.$v.user.contact_number.$invalid|| this.$v.user.dob.$invalid) {
                return;
            }
            axios.post(this.API_BASE_URL + 'update/user/'+this.id, this.user).then(response => {
                console.log(response);
                let data = response.data;
                if(data.status == '200'){
                    this.user_profile();
                    console.log(data.message);
                    Toast.fire({
                        icon: 'success',
                        title: data.message
                    });
                }else{
                    Toast.fire({
                        icon: 'error',
                        title: data.message
                    });
                }
            }).catch(error => {
                Toast.fire({
                    icon: 'error',
                    title: data.message
                });
            });
        },
        update_profilepicture: function(e){
            this.submitted_profile_picture = true;
            const file = this.$refs.user_profile_image.files[0];
            
            if (!file) {
                e.preventDefault();
                this.$v.user.user_profile_image.$touch();
                if(this.$v.user.user_profile_image.$invalid){
                    return;
                }
            }else{
                this.new_profile_image = this.$refs.user_profile_image.files[0];
                const formData = new FormData();
                formData.append('file', this.new_profile_image);
                formData.append('module_name', 'user');
                formData.append('type', 'profile_image');
                formData.append('respective_id', this.id);
                console.log(formData);
                this.user.user_profile_image = formData;
                axios.post(this.API_BASE_URL + 'uploads', formData).then(response => {
                    let data = response.data;
                    this.profile_image = data.data.path;
                    Toast.fire({
                        icon: 'success',
                        title: data.message
                    });
                }).catch(error => {
                    Toast.fire({
                        icon: 'error',
                        title: data.message
                    });
                });
            }
        },
        update_password: function(){
            this.submitted_password= true;
            this.$v.user.password.$touch();
            if (this.$v.user.password.$invalid) {
                return;
            }

            axios.post(this.API_BASE_URL +'update/user_password/'+this.id, this.user).then(response => {
                let data = response.data;
                Toast.fire({
                    icon: 'success',
                    title: data.message
                });
            })
            .catch(error => {
                 Toast.fire({
                    icon: 'error',
                    title: data.message
                });
            });

        },
        selectedFile() {
            // console.log('selected a file');
            // console.log(this.$refs.group_profile_image.files[0]);
            let file = this.$refs.user_profile_image.files[0];
            this.new_profile_image = this.$refs.user_profile_image.files[0];
            console.log(file);
            if(file !== 'undefined'){
                return 1;
            }
            if(!file || file.type !== 'text/plain') return;
            
            let reader = new FileReader();
            reader.readAsText(file, "UTF-8");
            reader.onload =  evt => {
                this.text = evt.target.result;
                console.log(evt.target.result);
            }
            reader.onerror = evt => {
                console.error(evt);
            }
        },
    },
    
    beforeMount(){
        this.user_profile();
        this.all_roles();
        this.all_permissions();
        //console.log(this.$route.params.id);

    },
    
    }
</script>
