<template>
    
    <main>
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><router-link to="\admin\dashboard"> Home</router-link></li>
                            <li class="breadcrumb-item active">Group list</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">All Groups</h3>
                                <div class="card-tools">
                                    <router-link to="admin/create/group">
                                    <button type="button" class="btn btn-primary" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-Group-plus"></i>Add Group
                                    </button>
                                    </router-link>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove" @click="backtoprevious()">
                                        <i class="fas fa-angle-left"></i> Back
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-hover dataTable dtr-inline" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th>Group Name</th>
                                            <th>Joining Charges</th>
                                            <th>Profile Image</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="group in groups" :key="group.id">
                                            <td>{{ group.group_name }}</td>
                                            <td>{{ group.group_charge }}</td>
                                            <td><img v-if='group.profile_picture!= null' :src="UPLOADS_URL+group.profile_picture.path" class="rounded"  height="50px" width="70px"/>
                                                <img v-else :src="SITE_URL+'public/images/noimage.jpg' "  class="rounded"  height="50px" width="70px" />
                                            </td>
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <a :href="'groups_details/'+group.id" class="btn btn-success"><i class="fas fa-edit"></i></a>
                                                    <button class="btn btn-danger" @click="deleteProduct(group.id)"><i class="fas fa-trash-alt"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <datatable :columns="columns" :data="groups"  :per-page="per_page" class="table table-bordered table-hover dtr-inline">
                                </datatable>
                            </div>
                            <div class="card-footer clearfix">
                                <datatable-pager v-model="page" type="long" :per-page="per_page" class="pagination pagination-sm m-0 float-right"></datatable-pager>
                            </div> -->
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>
<script>
    export default {
        data() {
            return {
                dataTable:[],
                groups : [],
                base_url : this.SITE_URL,
                columns: [
                            {label: 'Group Name', field: 'group_name'}, 
                            {label: 'Group Charge', field: 'group_charge'},
                            {label: 'Group Image', representedAs:function(group){
                                return `${'<img height="75%" width="75%" src="' + group.profile_picture.path + '"/>'}`
                            } ,field: 'profile_picture.path'}
                        ],
                    rows: [],
                    page: 1,
                    per_page: 5,
            };
        },
        methods: {
            all_groups: function() {
                axios.get(this.API_BASE_URL+'groups').then(response => {
                    this.groups = response.data.data;
                    console.log(this.groups);
                })
                .catch(error => {
                    console.log("error");
                });
            },
            deleteProduct: function(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.post(this.API_BASE_URL+'delete/group',{"id":id}).then(response => {
                            console.log(response);
                            Swal.fire(
                                    'Deleted!',
                                    'Your Selected Group has been deleted.',
                                    'success'
                                    );
                            this.groups = response.data.data;
                        })
                        .catch(error => {
                                Swal.fire("Failed!", response.data.message, "warning");
                        });
                    }
                })
            }
        },
        beforeMount(){
            this.all_groups();
        }
    
    }
</script>
