<template>
	<main>
		<div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><router-link to="\admin\dashboard"> Home</router-link></li>
                            <li class="breadcrumb-item active">userlist</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3">
						<div class="card card-primary card-outline">
							<div class="card-body box-profile">
								<div class="text-center">
									<img class="profile-user-img img-fluid img-circle"
										:src="this.UPLOADS_URL+profile_picture"
										alt="User profile picture">
								</div>
								<h3 class="profile-username text-center"> {{groupDetails.group_name}}</h3>
								<ul class="list-group list-group-unbordered mb-3">
									<li class="list-group-item">
										<b>Joining Charge ($):</b> <a class="float-right">{{groupDetails.group_charge}}</a>
									</li>
									<li class="list-group-item">
										<b>Member Limit:</b> <a class="float-right">{{groupDetails.member_limit}}</a>
									</li>
									<li class="list-group-item">
										<b>Members: </b> <a class="float-right"> {{members_count}}</a>
									</li>
								</ul>
								
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="card">
							<div class="card-header p-2">
								<ul class="nav nav-pills">
									<li class="nav-item"><a class="nav-link active" href="#members" data-toggle="tab">Members</a></li>
									<li class="nav-item"><a class="nav-link" href="#join_request" data-toggle="tab">Join Requests</a></li>
									<li class="nav-item"><a class="nav-link " href="#posts" data-toggle="tab">Posts</a></li>
									<li class="nav-item"><a class="nav-link" href="#update" data-toggle="tab">Update Group Data</a></li>
									
								</ul>
							</div>
							<div class="card-body">
								<div class="tab-content">	
									<div class="tab-pane active " id="members">
										<div class="card-body p-0">
											<table class="table table-striped projects">
												<thead>
													<tr>
														<th style="width: 1%">
															#
														</th>
														<th style="width: 20%">
															User Name
														</th>
														<th  style="width: 10%" >
															User Role
														</th>
														<th style="width: 20%" class="text-center">
															Joined Date
														</th>
														<th style="width: 10%" class="text-center">
															Action
														</th>
													</tr>
												</thead>
												<tbody>
													<tr v-for="(member,index) in members" :key="member.id">
														<td>
															{{ index + 1}}
														</td>
														<td>
															<a :href="'../profile/'+member.user.id">
																{{member.user.name}}
															</a>
															<br/>
															<small>
																{{member.user.email}}
															</small>
														</td>
														<td>
															{{member.role.role_name}}
														</td>
														<td>
															{{member.created_at}}
														</td>
														<td class="project-actions text-right">
															<a class="btn btn-primary btn-sm" href="javascript:void(0)">
																<i class="fas fa-eye">
																</i>
																View
															</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="tab-pane" id="join_request">
										<div class="card-body p-0">
											<table class="table table-striped projects">
												<thead>
													<tr>
														<th style="width: 1%">
															#
														</th>
														<th style="width: 20%">
															Request From
														</th>
														<th  style="width: 8%" >
															Status
														</th>
														<th style="width: 20%" class="text-center">
															Action
														</th>
													</tr>
												</thead>
												<tbody>
													<tr v-for="(join_req,index) in joinRequests" :key="join_req.id">
														<td>
															{{ index + 1}}
														</td>
														<td>
															<a :href="'../profile/'+join_req.user.id">
																{{join_req.user.name}}
															</a>
															<br/>
															<small>
																{{join_req.user.email}}
															</small>
														</td>
														
														<td>
															<span v-if="join_req.approval_status == 'pending'" class="badge badge-danger">{{join_req.approval_status}}</span>
															<span v-if="join_req.approval_status == 'wait'" class="badge badge-warning">{{join_req.approval_status}}</span>
															<span v-if="join_req.approval_status == 'active'" class="badge badge-success">{{join_req.approval_status}}</span>
														</td>
														<td class="project-actions text-right">
															<span  v-if="join_req.approval_status == 'pending'">
																<a class="btn btn-primary btn-sm" href="javascript:void(0)" @click="approve_request(join_req.id,join_req.group_id,join_req.user.id)">
																	<i class="fas fa-folder">
																	</i>
																Approve
																</a>
																<a class="btn btn-danger btn-sm" href="javascript:void(0)" @click="decline_request(join_req.id,join_req.group_id,join_req.user.id)">
																	<i class="fas fa-trash">
																	</i>
																	Decline
																</a>
															</span>
															<span v-else>
																<a class="btn btn-secondary  disabled" href="#">
																	No Action Allowed
																</a>
															</span>
															
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="tab-pane" id="update">
										<form @submit.prevent="handleSubmit" enctype="multipart/form-data" ref="group_form" >
											<div class="card-body">
												<div class="form-group">
													<label for="exampleInputEmail1">Group Name</label>
													<input type="text" v-model="group.group_name" class="form-control" id="group_name" name="group_name" placeholder="Enter group name" :class="{ 'is-invalid': submitted && $v.group.group_name.$error }">
													<div v-if="submitted && !$v.group.group_name.required" class="invalid-feedback">User Name is required</div>
												</div>
												<div class="form-group">
													<label for="exampleInputEmail1">Group joining Charges</label>
													<div class="input-group form-group">
														<div class="input-group-prepend">
															<span class="input-group-text">$</span>
														</div>
														<input type="number" v-model="group.group_charge" class="form-control" name="group_charge" id="group_charge" placeholder="Enter group join charge"  :class="{ 'is-invalid': submitted && $v.group.group_charge.$error }" >
														
														<div class="input-group-append">
															<span class="input-group-text">.00</span>
														</div>
														<div v-if="submitted && $v.group.group_charge.$error" class="invalid-feedback">
															<span v-if="!$v.group.group_charge.required">Group joining Charges is required</span>
														</div>
													</div>
												</div>
											</div>
											<div class="card-footer">
												<button type="submit" class="btn btn-success">Submit</button>
												<button type="reset" class="btn btn-warning">Reset</button>
											</div>
										</form>
									</div>
									<div class="tab-pane" id="posts">
										<div class="post">
											<div class="user-block">
												<img class="img-circle img-bordered-sm" :src="this.ASSET_URL+'admin/dist/img/user6-128x128.jpg'" alt="User Image">
												<span class="username">
												<a href="#">Adam Jones</a>
												<a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
												</span>
												<span class="description">Posted 5 photos - 5 days ago</span>
											</div>
											<!-- /.user-block -->
											<div class="row mb-3">
												<div class="col-sm-6">
													<img class="img-fluid" :src="this.ASSET_URL+'admin/dist/img/photo1.png'" alt="Photo">
												</div>
												<!-- /.col -->
												<div class="col-sm-6">
													<div class="row">
														<div class="col-sm-6">
															<img class="img-fluid mb-3" :src="this.ASSET_URL+'admin/dist/img/photo2.png'" alt="Photo">
															<img class="img-fluid" :src="this.ASSET_URL+'admin/dist/img/photo3.jpg'" alt="Photo">
														</div>
														<!-- /.col -->
														<div class="col-sm-6">
															<img class="img-fluid mb-3" :src="this.ASSET_URL+'admin/dist/img/photo4.jpg'" alt="Photo">
															<img class="img-fluid" :src="this.ASSET_URL+'admin/dist/img/photo1.png'" alt="Photo">
														</div>
														<!-- /.col -->
													</div>
													<!-- /.row -->
												</div>
												<!-- /.col -->
											</div>
											<!-- /.row -->
											<p>
												<a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
												<a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
												<span class="float-right">
												<a href="#" class="link-black text-sm">
												<i class="far fa-comments mr-1"></i> Comments (5)
												</a>
												</span>
											</p>
											<input class="form-control form-control-sm" type="text" placeholder="Type a comment">
										</div>
										<!-- /.post -->
									</div>
								</div>
							</div>

							<div class="card-footer">
								<button type="button" class="btn btn-secondary" @click="backtoprevious()"><i class="fas fa-angle-left"></i> Back</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<Modal v-show="isModalVisible" @close="closeModal" @confirm="confirmModal">
			<div slot="header">{{modal_head}}</div>
			<div slot="body">{{modal_body}}</div>
			<div slot="confirm">{{modal_confirm_btn_txt}}</div>
			<div slot="cancel">{{modal_cancel_btn_txt}}</div>
		</Modal>
	</main>
</template>
<script>
	import { required, email, minLength, sameAs ,numeric, maxLength} from "vuelidate/lib/validators";
	import Datepicker from 'vuejs-datepicker';
	import Modal from '../../components/Modal.vue';
	export default {
	    components:{
	        Datepicker,
			Modal
	    },
	   data(){
           return{
                id: this.$route.params.id,
                groupDetails:[],
                profile_picture:"",
				joinRequests:[],
				isModalVisible: false,
				members:[],
				members_count:"",
				group: 
				{
					group_name: "",
					group_charge: ""
				},
				submitted: false,
				modal_head:"",
				modal_body:"",
				modal_confirm_btn_txt:"",
				modal_cancel_btn_txt:"",
				confirm_modal:false
           }
       },
	   validations: {
        group: {
            group_name: { required },
            group_charge: { required }
			}
		},
        methods: {
            group_details: function() {
                axios.get(this.API_BASE_URL +'get/group/'+this.id).then(response => {
                    this.groupDetails = response.data.data;
					if(this.groupDetails.profile_picture == null){
						this.profile_picture = 'images/noimage.jpg';
					}
                    this.profile_picture = this.groupDetails.profile_picture.path;
					this.members = this.groupDetails.members;
					this.members_count = this.groupDetails.members.length;
					this.group.group_name = this.groupDetails.group_name;
					this.group.group_charge = this.groupDetails.group_charge;
                })
                .catch(error => {
                    console.log("error");
                });
            },
			join_requests: function() {
                axios.post(this.API_BASE_URL +'group/join_requests',{'id':this.id}).then(response => {
                    this.joinRequests = response.data.data;
                    console.log(this.joinRequests,'joinreq');
                })
                .catch(error => {
                    console.log("error");
                });
            },
			handleSubmit(e) {
				this.submitted = true;
				this.$v.$touch();
				if (this.$v.$invalid) {
					return;
				}
				axios.post(this.API_BASE_URL + 'group/update/'+this.id, this.group).then(response => {
					let data = response.data;
					if(data.status == '200'){
						Vue.$toast.success(data.message, {
							position: 'top-right'
						});
						this.group_details();
					} else{
						Vue.$toast.error(data.message, {
							position: 'top-right'
						})
					}
				}).catch(error => {
					Vue.$toast.error(data.message, {
						position: 'top'
					})
				});
			},
			selectedFile() {
				let file = this.$refs.group_profile_image.files[0];
				this.profile_image = this.$refs.group_profile_image.files[0];
				this.group.profile_image = this.profile_image;
				if(!file || file.type !== 'text/plain') return;
				
				let reader = new FileReader();
				reader.readAsText(file, "UTF-8");
				reader.onload =  evt => {
					this.text = evt.target.result;
				}
				reader.onerror = evt => {
					console.error(evt);
				}
			},
			approve_request: function(join_id, group_id,user_id){

				// // this.isModalVisible=true;
				// // this.modal_head = "";
				// // this.modal_body = "Do you want to confirm the approve request?";
				// // this.modal_confirm_btn_txt = "Yes";
				// // this.modal_cancel_btn_txt = "No";
				// console.log(this.confirm_modal);
				// if(this.confirm_modal == true){
					
				// }
				
				let data = {
				'id':join_id,
				'group_id': group_id,
				'user_id':user_id
				};
				axios.post(this.API_BASE_URL+'group/approve_request',data).then(response =>{
					console.log("success");
					this.confirm_modal == false;
					this.join_requests();
				}).catch(error => {
					this.confirm_modal == false;
					console.log("error");
				});
			},

			decline_request: function(){
				
			},
			closeModal: function(){
				this.isModalVisible= false;
				this.confirm_modal = false;

			},
			confirmModal:function(){
				this.isModalVisible= false;
				this.confirm_modal = true;
			}
        },
		
        beforeMount(){
	        this.group_details();
			this.join_requests();
	    }
	}
</script>