<template>
    <main>
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><router-link to="\admin\dashboard"> Home</router-link></li>
                            <li class="breadcrumb-item active">userlist</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">All Join Requests</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove" @click="backtoprevious()">
                                        <i class="fas fa-angle-left"></i> Back
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>User Name</th>
                                            <th>Group Name</th>
                                            <th>Date of Request</th>
                                            <th>Approval Validity</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="join_reqs in join_requests" :key="join_reqs.id">
                                            <td><a :href="SITE_URL+'admin/profile/'+join_reqs.user.id">{{ join_reqs.user.name }}</a></td>
                                            <td>{{ join_reqs.group.group_name}}</td>
                                            <td>{{ join_reqs.created_at}}</td>
                                            <td>{{ join_reqs.approval_validity}}</td>
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <a class="btn btn-success" @click="approve(join_reqs.id,join_reqs.group_id,join_reqs.user_id)"><i class="fas fa-check"></i></a>
                                                    <button class="btn btn-secondary" @click="decline(join_reqs.id,join_reqs.group_id,join_reqs.user_id)"><i class="fas fa-ban"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>
<script>
    export default {
        data() {
            return {
                join_requests:[]
            };
            
        },
        methods: {
            all_requests: function() {
                axios.get(this.API_BASE_URL+'all_join_requests').then(response => {
                    this.join_requests = response.data.data;
                    console.log(this.join_requests);
                })
                .catch(error => {
                    console.log("error");
                });
            },
            approve: function(id,group_id,user_id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You want to approve this request ?",
                    showCancelButton: true,
                    confirmButtonColor: '#00d09c',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, approve it!'
                }).then((result) => {
                    if (result.value) {
                         axios.post(this.API_BASE_URL+'group/approve_request',{"id":id,"user_id":user_id,"group_id":group_id}).then(response => {
                            console.log(response);
                            Swal.fire(
                                    'Approved!',
                                    response.data.message,
                                    'success'
                                    );
                            this.all_requests();
                        })
                        .catch(error => {
                            Swal.fire(
                                'Declined!',
                                response.data.message,
                                'error'
                            );
                        });
                    }
                })
            },
            decline: function(joinReqsId,joinReqsGroupId,joinReqsUserId){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You want to decline this request ?",
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, decline it!'
                }).then((result) => {
                    if (result.value) {
                         axios.post(this.API_BASE_URL+'group/decline_join_request',{"id":joinReqsId,"user_id":joinReqsUserId,"group_id":joinReqsGroupId}).then(response => {
                            console.log(response);
                            Swal.fire(
                                    'Declined!',
                                    response.data.message,
                                    'success'
                                    );
                            this.all_requests();
                        })
                        .catch(error => {
                            Swal.fire(
                                'Error!',
                                response.data.message,
                                'error'
                            );
                        });
                    }
                })
            }
        },
        beforeMount(){
            this.all_requests();
        },
    }
</script>
