<template>
    <main>
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><router-link to="\admin\dashboard"> Home</router-link></li>
                            <li class="breadcrumb-item ">cms</li>
                            <li class="breadcrumb-item active">Privacy Policy</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Privacy Policy</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove" @click="backtoprevious()">
                                        <i class="fas fa-angle-left"></i> Back
                                    </button>
                                </div>
                            </div>
                             <div class="card-body">
                                <div class="form-group">
                                      <vue-editor v-model="content" :useCustomImageHandler="true" @image-added="handleImageAdded" />
                                </div>
                                
                                <div class="col-12 d-flex justify-content-end">
                                    <span @click="save" class="btn btn-primary mr-1 mb-1" v-if="!loading">Save</span>
                                    <button class="btn btn-primary mb-1" type="button" disabled v-if="loading">
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Saving ...
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
import { VueEditor, Quill } from "vue2-editor";

export default {
        data(){
            return {
                content : "",
                loading: false
            }
        },
    
    components:{
        VueEditor
    },
    methods: {
        save: function(){
            this.loading = true;
            console.log(this.content);
            axios.post(this.API_BASE_URL+'store_cms', {
                content: this.content,
                content_type: "privacy-policy"
            })
            .then(response=>{
                this.loading = false;
                if(response.data.status == 200){
                    Swal.fire(
                        'Stored!',
                        response.data.message,
                        'success'
                    );
                }else{
                    Swal.fire(
                        'Error!',
                        response.data.message,
                        'error'
                    );
                }
                
                this.content = response.data.data[0].content;

            })
            .catch(error => {
                this.loading = false;
                Swal.fire(
                    'Error!',
                    response.data.message,
                    'error'
                );
            })
        },
        fetch: function(){
            axios.post(this.API_BASE_URL+'get_cms', {
                content_type: "privacy-policy"
            })
            .then(response=>{
                console.log('success');
                this.content = response.data.data[0].content;
            })
            .catch(error => {
            })
        },
        handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
            var formData = new FormData();
            formData.append("image", file);
            formData.append("module_name", "privacy-policy");

            axios({
                url: this.API_BASE_URL+'upload_cms',
                method: "POST",
                data: formData
            })
            .then(result => {
                const url = this.UPLOADS_URL+result.data.data.path; // Get url from response
                Editor.insertEmbed(cursorLocation, "image", url);
                resetUploader();
            })
            .catch(err => {
                console.log(err);
                });
            }
  
    },
    beforeMount(){
        this.fetch();
    }

}
</script>
