<template>
    <main>
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark"></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><router-link to="\admin\dashboard"> Home</router-link></li>
                            <li class="breadcrumb-item active">userlist</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">All Users</h3>
                                <div class="card-tools">
                                    <router-link to="add_user">
                                    <button type="button" class="btn btn-primary" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-Group-plus"></i>Add User
                                    </button>
                                    </router-link>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove" @click="backtoprevious()">
                                        <i class="fas fa-angle-left"></i> Back
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone No</th>
                                            <th>Dob</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="user in users" :key="user.id">
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.contact_number }}</td>
                                            <td>{{ user.dob }}</td>
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <a :href="'profile/'+user.id" class="btn btn-success"><i class="fas fa-edit"></i></a>
                                                    <button class="btn btn-danger" @click="deleteProduct(user.id)"><i class="fas fa-trash-alt"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>
<script>
    export default {
        data() {
            return {
                users : []
            };
        },
        methods: {
            profile: function() {
                axios.get(this.API_BASE_URL +'users').then(response => {
                    this.users = response.data.data;
                })
                .catch(error => {
                    console.log("error");
                });
            },
            deleteProduct: function(id){
                if(confirm("Are you want to delete this user ?")){
                    axios.post(this.API_BASE_URL +'delete/user',{"id":id}).then(response => {
                        let data = response.data;
                        this.users = data.data;
                        Vue.$toast.success(data.message, {
                            theme: "toasted-primary", 
                            position: "top-right", 
                            duration : 2000
                        });
                    })
                    .catch(error => {
                        Vue.$toast.error(data.message, {
                            theme: "toasted-primary", 
                            position: "top-right", 
                            duration : 2000
                        });
                    });
                }
            }
        },
        beforeMount(){
            this.profile();
        },
    }
</script>
