<template>
    <div class="modal fade show" id="modal-default" style="display: block; padding-right: 17px;" aria-modal="true" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">
				  <slot name="header"></slot>
			  </h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              	<p>
					<slot name="body" style="margin-left: auto;margin-right: auto;">         
            		</slot>
				</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal" @click="close"><slot name="cancel"></slot></button>
              <button type="button" class="btn btn-primary" @click="confirm"><slot name="confirm"></slot></button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
</template>
<script>
  export default {
    name: 'Modal',
	data(){
		return{
			header:"This is header",
			body:"This is body",
			footer:"This is footer"
		}
	},
    methods: {
      close() {
        this.$emit('close');
      },
      confirm() {
        this.$emit("confirm");
      },
    },
  };
</script>
