<template>
    <main>
        <div class="wrapper">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-8">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>


export default({
    setup() {
        
    },
    mounted: function(){
        const script = document.createElement("script");
        script.src = "https://www.paypal.com/sdk/js?client-id=AWYtLGSxSmZ7kzUMQYeUznsItdLi-2G45jEZdu1iY3Tx9MQI8iQS36JVdOYH4RTDuSyp571xnFpVBo1J";
        script.addEventListener("load",this.setLoaded);
        document.body.appendChild(script);
    },
    methods: {
        setLoaded: function(){
            window.paypal.Buttons({
                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: '0.01'
                            }
                        }]
                    });
                },
                onApprove: async(data, actions) => {
                    const pay = await actions.order.capture();
                    this.submit(pay);
                }
            }).render('#paypal-button-container');

        },
        submit(details){
            console.log(details,1);

            let data = {
                "joinid":this.$route.params.joinid,
                "userid":this.$route.params.userid,
                "groupid":this.$route.params.groupid,
                "transaction_id": details.id,
                "payer_email_id": details.payer.email_address,
                "payer_id": details.payer.payer_id
            };
            axios.post(this.API_BASE_URL+'success_join',data).then(response =>{
                console.log(response.data);
                if(response.data.status == 200){
                    window.location.href=this.SITE_URL;    
                }
            }).catch(error =>{
                console.log(response.data);
            });
           
        }
       
    }
    
})
</script>
