/*!
*  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
*  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
*/

/* FONT PATH
* -------------------------- */
@font-face {
	font-family: 'ProximaNova-Light';
	src: url('../fonts/ProximaNova-Light');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.otf');
	src: url('../fonts/ProximaNova-Regular.svg');
	src: url('../fonts/ProximaNova-Regular.ttf');
	src: url('../fonts/ProximaNova-Regular.woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: url('../fonts/ProximaNova-Semibold.otf');
	src: url('../fonts/ProximaNova-Semibold.svg');
	src: url('../fonts/ProximaNova-Semibold.ttf');
	src: url('../fonts/ProximaNova-Semibold.woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.otf');
	src: url('../fonts/ProximaNova-Bold.svg');
	src: url('../fonts/ProximaNova-Bold.ttf');
	src: url('../fonts/ProximaNova-Bold.woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Alt Black-webfont';
	src: url('../fonts/ Proxima Nova Alt Black-webfont.eot');
	src: url('../fonts/Proxima Nova Alt Black-webfont.woff');
	font-weight: normal;
	font-style: normal;
}



html, body {
width: 100%;
overflow-x: hidden;
font-family: 'proxima-nova', sans-serif !important;
}

* {
text-decoration: none !important;
outline: none !important;
}

img 
{
width: auto;
max-width: 100%;
height: auto;
border: 0;
}

ul,
ol 
{
margin: 0;
padding: 0;
list-style: none;
}
a, a:hover,a:focus
{
text-decoration: none;
}
ol 
{
list-style: decimal inside;
}
h1, h2, h3, h4, h5, h6 
{
margin: 0;
padding: 0;
font-weight: 500;
font-size: 20px;
color: #0d141e;
line-height: 30px;
font-family: 'proxima-nova', sans-serif ;
}


b, strong 
{
font-weight: 600;
}
blockquote 
{
margin: 0;
padding: 0;
border: none;
}
a:focus,p:focus,div:focus,input:focus,textarea:focus,submit:focus,button:focus
{
outline:none;
}
/* defult css Styles
---------------------------------*/
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, blockquote {margin: 0; padding: 0; border: 0; display: block;}
h1, h2, h3, h4, h5, h6 {font-weight:normal; line-height: normal;}
h1 {font-size: 28px; margin: 0 0 15px;}
h2 {font-size: 24px; margin: 0 0 15px;}
h3 {font-size: 20px; margin: 0 0 12px;}
h4 {font-size: 18px; margin: 0 0 12px;}
h5 {font-size: 16px; margin: 0 0 10px;}
h6 {font-size: 14px; margin: 0 0 10px;}
li {margin: 0 0 10px; padding: 0;}
p {padding-bottom: 10px;margin: 0; font-size: 16px;line-height: 20px; font-family: 'proxima-nova', sans-serif ; }
p:last-child{padding-bottom: 0;}
label, span, strong {display: inline-block;}
p label, p span, p strong {display: inline;}
strong{font-weight: 700;}
a {
color: #315a94;
text-decoration: none;
border: none;
outline: none;
display: inline-block;
-moz-transition: all 300ms ease-in-out 0s;
-webkit-transition: all 300ms ease-in-out 0s;
transition: all 300ms ease-in-out 0s;
}
button {
color: #315a94;
text-decoration: none;
border: none;
outline: none;
display: inline-block;
-moz-transition: all 300ms ease-in-out 0s;
-webkit-transition: all 300ms ease-in-out 0s;
transition: all 300ms ease-in-out 0s;
}
a:hover, a:focus{color: #fe6e47;text-decoration: none;outline: none;}
a:focus{color: #fe6e47;}
img {border: none; outline: none; display: inline-block; max-width: 100%;}
mark {background-color: #fe6e47; color: #000; font-style: italic; font-weight: bold;}
del {text-decoration: line-through;}
hr {display: block; height: 1px; border: 0; margin: 10px 0; padding: 0; border-top: 1px solid #d3d3d3;}
::-moz-selection{background: #fe6e47; color: #fff; text-shadow: none;}
::selection{background: #fe6e47; color: #fff; text-shadow: none;} 


/*----------------------------------------------------
scroll bar
------------------------------------------------------*/
::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
border-radius: 0px;
background-color: #F5F5F5;
width: 6px;
}

::-webkit-scrollbar {
width: 6px;
background-color: #315a94;

}

::-webkit-scrollbar-thumb {
border-radius: 0px;
box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
background-color: #00d09c;
}
/* ---------page scrool  ----------*/
.scrollup {
position: fixed;
bottom: 50px;
right: 10px;
z-index: 5;
width: 40px;
height: 40px;
line-height: 40px;
font-size: 25px;
color: #fff;
background: #5367ff;
text-align: center;
-webkit-border-radius:0%;
border-radius:0;
display: none;
-moz-transition: all 300ms ease-in-out 0s;
-webkit-transition: all 300ms ease-in-out 0s;
transition: all 300ms ease-in-out 0s;
cursor: pointer;
}
.scrollup.active 
{
bottom: 0px;
right: 0px;
}

.scrollup:hover {
-webkit-border-radius: 50%;
border-radius: 50%;
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
background: #05c998;
color: #fff;
}

/************ Header sticky***************/


.header-appear-index{
height: auto;
position: fixed;
top: 0;
padding: 0px 0px;
z-index: 999;
background-color: #fff;
width: 100%;
-webkit-animation-name: animationFade;
-o-animation-name: animationFade;
animation-name: animationFade;
-webkit-animation-duration: 1s;
-o-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
-o-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}

.header-appear-index .logo-fld img{ width: 120px; }
.header-appear-index .nav-menu {
    margin-top: 0;
}
.header-appear .navbar-nav.nav-inn li a {color:#fff;}

header {
width: 100%;
z-index: 999;
}
.header-appear-index .inquiry-bttn{
    margin-top: 0;
}


.top-header-area ~ .navbar-top-default{
background-color: #000;
top: 45px;
height: 65px;
}

.header-appear .top-header-area ~ .navbar-top-default{
top: 0;
}

/* nav top default */

.navbar-top-default{
position: absolute;
top: 0;
z-index: 99;
overflow: hidden;
/*height: 90px;*/
width: 100%;
background-color: var(--color-black);
-webkit-transition: all .1s ease;
-moz-transition: all .1s ease;
-ms-transition: all .1s ease;
-o-transition: all .1s ease;
transition: all .1s ease;
}


/* animation */

@-webkit-keyframes animationFade {
from {
opacity: 0;
-webkit-transform: translate3d(0, -100%, 0);
transform: translate3d(0, -100%, 0);
}
to {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}
@-o-keyframes animationFade {
from {
opacity: 0;
-webkit-transform: translate3d(0, -100%, 0);
transform: translate3d(0, -100%, 0);
}
to {
opacity: 1;
-webkit-transform: none;
-o-transform: none;
transform: none;
}
}
@keyframes animationFade {
from {
opacity: 0;
-webkit-transform: translate3d(0, -100%, 0);
transform: translate3d(0, -100%, 0);
}
to {
opacity: 1;
-webkit-transform: none;
-o-transform: none;
transform: none;
}
}

/* ------------------Header & Navigation Start----------------- */
.search-box{position: relative;}
.search-box input{ background: #F5F5F5; border: 1px solid #F5F5F5 ; padding: 6px 5px 6px 35px; font-size: 14px; border-radius: 3px; }
.btn-search{ position: absolute;left: 0; top: 0; bottom: 0; border: none; padding: 0 13px;background: transparent; }
.btn-search i{ color: #9c9d9d; }
.sign-btn a{ padding:5px 10px; font-size: 14px; border: 1px solid #5367FF; color:#2C3933; background: #fff; border-radius: 3px;}
.sign-up a{ border: 1px solid #707070; }
.right_wrp{	display: flex; flex-wrap: wrap;  align-items: center;}
.sign-in a{ background: #5367FF; color: #fff; margin: 0 6px; }
.sign-btn a:hover{background: #5367FF; color: #fff; border: 1px solid #5367FF;}
.Bttn a{ background:#5367FF; color: #fff; padding: 12px 20px; border-radius: 3px; font-size: 15px;}
.Bttn a:hover{ background: #00d09c; color: #fff;}
.bnr-cont h2{ font-weight: 900; color: #252526; font-size: 45px;}
.bnr-cont p{ color: #2C3933; font-size:18px; margin:20px 0; font-weight: 500;}
.bnr-cont p span{ color:#00D09C; font-weight: 600; display: block; font-size: 22px; padding: 8px 0;}
.view-list ul li{ display: inline-block; margin: 0px -20px 0 0; }
.view-list ul li img{ width: 45px; height: 45px; object-fit: cover; }
.view-list ul li:last-child{ padding-right: 25px; padding-left: 35px; font-size: 18px; font-weight:500;}
.view-list{ margin:25px 0; }
.consult-text p{ font-size: 15px; line-height: 20px; color: #A1FFE8; padding-bottom: 0; }
.consult-text h5{ color: #fff; font-weight: 600; font-size: 16px; margin: 0; padding:6px 0;  }
.consult-fld{position: relative; background: #00d09c; border-radius: 5px; padding: 20px; width: 320px; }
.consult-text { padding-left: 25px;}
.bnr-right { text-align: right; margin: 0 auto; padding-top: 25px; }
.bnr-right img{ width: 100%; height: 550px; object-fit: cover; }
a.ts_logo { width: 245px;}
.head-bg { background: #d8fbfc;  width: 400px; height: 400px; position: absolute; right: 0; top: 0; z-index: -1; filter: blur(14px);}
.ply-icon {
    width:38px;
    height: 38px;
    border-radius: 100px;
    background: #fb65a6;
    border: 2px solid #88e8d0;
    color: #fff;
    display: block;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    right: 15px;
    bottom:-10px;

}
.sub-head h2{ font-size: 37px; line-height:42px; color:#2C3933; font-weight: bold; margin-bottom: 30px;}
.img-box{position: relative;}
.memb-text{position: absolute; left: 15px; bottom: 15px; z-index: 9;}
.memb-text h5{ font-size: 18px; color: #fff; font-weight: 500; margin-bottom:2px;}
.memb-text p{ color: #05c797; font-size: 14px; line-height: 20px; }
.des-cont p{ font-size: 12px; line-height: 20px; color:#252526; }
.des-cont{padding: 15px 0;}
.join-btn a{ border: 1px solid #232536; background: transparent; color: #252526; font-size: 14px; border-radius: 3px; padding:7px 15px; font-weight: 500; }
.join-btn a:hover{ background: #5367FF; color: #fff; border: 1px solid #5367FF; }
.ptb{padding: 50px 0;}
.img-box:after{
border-radius: 4px;
opacity:0.6;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 5;
content: "";
background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e7e7e7, #d0d0d0fc, #b9b9b9d4, #878787c2, #3c3838, #000000, #000000);
}
.view-profile-fld{position: relative; background-size: cover !important;}
.prof-list-box{ background: #fff; padding: 15px; border-radius: 5px; width:300px; margin: 0 auto; }
.prif-list span{ display: inline-block;     padding: 0 5px;}
.prof-left{ flex:0 0 40%; max-width: 40%; }
.prof-right{ flex:0 0 60%; max-width: 60%; padding-left: 50px;}
.profs{margin-left:35px; color: #00d09c;}
.text-p h5{ font-size: 17px; color: #2C3933; font-weight: 600; margin: 0;}
.text-p p{ font-size: 14px; line-height: 20px; color:#86888B; }
.prif-list { align-items: center; display: flex; border: 1px solid #E4E5F1; margin: 10px 0; padding: 6px;}
.sub-head p{ font-size: 15px; color: #2C3933; line-height: 20px; font-weight: 500; }
.img-help{position: relative;}
.video-top {
    background: #fff;
    width: 60px;
    height: 60px;
    position: absolute;
     top: -25px;
    right: -15px;
    border-radius: 100%;
    box-shadow: 3px 4px 25px -16px rgba(97,91,91,0.75);
-webkit-box-shadow: 3px 4px 25px -16px rgba(97,91,91,0.75);
-moz-box-shadow: 3px 4px 25px -16px rgba(97,91,91,0.75);
align-items: center;
display: flex;
justify-content: center;
}
.video-top img{ width: 35px; height: 35px; object-fit: contain; }
.img-help figure {
    text-align: right;
}
.img-help figure img{border-radius: 10px;}
/*.img-help figure img{width: 100%; height: 500px; object-fit: contain;}*/
.chrt-l {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #fb65a6;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: 36px;
    left: 30%;
}
.chrt-l img{ width: 30px; height: 30px; object-fit: contain; }
.chrt-l:before {
    content: "";
    position: absolute;
    background: url(../images/mask.png) no-repeat;
    width: 150px;
    height: 150px;
    left: 261px;
    bottom: -66px;
    z-index: -1;
}
.profile-slider .owl-dots {

	text-align: center;
	margin:0 auto;
	padding-top: 60px;

}
.profile-slider .owl-dots button {
	width: 10px;
	height:10px;
	display: inline-block;
	background: #e2e6ea;
	margin: 0 3px;
	border-radius: 50px;
}
.profile-slider .owl-dots button.owl-dot.active {

	background: #00d09c;
}
.profile-slider .owl-dots button.owl-dot:focus {
	outline: none;
}
.sub-head h3{ font-size: 25px; color: #000000; margin-bottom: 15px; font-weight: 600; }
.section2{position: relative;}
.section2:before{
	background: #d8fbfc;
    width: 400px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    filter: blur(20px);
    content: "";
    border-top-right-radius:70px;
    border-bottom-right-radius: 70px;

}
.say-cont h3 {
    font-size: 25px;
    color: #252526;
    font-weight: 600;
    padding: 0;
    width: 285px;
    line-height: 25px;
    margin-top: 46px;
}
.say-cont p{ font-size: 14px; color:#252526; text-transform: uppercase;}
.say-cont p strong{ border-right: 1px solid #707070; padding: 0 5px;}
/*.say-img{ flex:0 0 50%; max-width: 50%; position: relative; }*/
.say-img:before{
	content: "";
    position: absolute;
    background: url(../images/mask.png) no-repeat;
    width:170px;
    height: 170px;
    left: 265px;
    top:0;
    z-index: -1;
}
.say-cont{position: relative;}
.say-cont:after{
	content: "";
    position: absolute;
    background: url(../images/q.png) no-repeat;
    width:50px;
    height: 40px;
    left: 25px;
    top:0;

}
.say-cont{padding-left: 25px;}
/*.say-cont{flex:0 0 50%; max-width: 50%;}*/
.say-img img{ width: 200px; height: 200px; object-fit: contain; padding-top: 20px;}

.testimonial-slider {margin-top: 50px;}
.testimonial-slider  .owl-dots {

	text-align: center;
	margin:0 auto;
	padding-top: 60px;

}
.testimonial-slider .owl-dots button {
	width: 10px;
	height:10px;
	display: inline-block;
	background: #e2e6ea;
	margin: 0 3px;
	border-radius: 50px;
}
.testimonial-slider .owl-dots button.owl-dot.active {

	background: #00d09c;
}
.testimonial-slider .owl-dots button.owl-dot:focus {
	outline: none;
}
.timeline-fld{ margin-top: 30px; }
.timeline{
  counter-reset: test 1;
  position: relative;
}

.timeline li{
  list-style: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.timeline-fld ul:nth-child(1){
  color: #000;
}

.timeline-fld .timeline li:before{
  counter-increment: test;
  content: counter(test);
  width: 30px;
  height: 30px;
  border: 3px solid #35FBC9;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 50px;
  margin:10px auto 10px auto;
  background: #35fbc9;
  color: #000;
  transition: all ease-in-out .3s;
  cursor: pointer;
  justify-content: center;
    align-items: center;
    display: flex;
    border: 4px solid #fff;
     font-size: 14px; font-weight: 600;
}

.timeline-fld .timeline li:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #35fbc9;
  top: 25px;
  left: -50%;
  z-index: -999;
  transition: all ease-in-out .3s;

}

.timeline-fld .timeline li:first-child:after{
  content: none;
}
.timeline-fld .timeline li.active-tl{
  color: #555555;
  font-size: 14px; font-weight: 600;
}
.timeline li.active-tl:before{
  background: #35FBC9;
color: #5367ff;

}

.timeline-fld .timeline li.active-tl + li:after{
  background: #35FBC9;

}




/*********footer****/
.main-ftr{ background: #202327;  padding: 20px 0 20px 0;}
.ftr-menu ul li{ display: inline-block;  padding: 0 45px 0 0;}
.ftr-menu ul li a{ color: #fff; font-size: 14px; font-weight: 500;  }
.ftr-menu ul li a:hover{color: #05c998;}
.ftr-socila {text-align: right;}
.copy-right p{ color: #fff; color: #9F9F9F; }
.ftr-socila ul li{ display: inline-block; padding: 0 15px 0 0; margin-bottom: 0;}
.ftr-socila ul li a{ color: #fff; }
.ftr-socila ul li a:hover{ color: #05c998; }
/*-----login------*/
.body-wrp{ background:#F6F6F6; width: 100%; /*height: 100vh;*/ padding: 70px 0; justify-content: center; display: flex; align-items: center; }
.login_fld{  background: #fff; border-right: 10px; width: 100%; max-width: 800px; /*height: 550px;*/ margin: 0 auto; display: flex; }
.login-left{ background: #00D09C; flex: 0 0 45%; max-width: 45%; border-top-left-radius: 10px; border-bottom-left-radius: 10px; padding: 30px;}
.login-right{flex: 0 0 55%; max-width: 55%; padding: 40px;}
.login-btn a.active{ background: #C7CADE; color: #fff; padding: 8px 40px; border-radius: 5px;}
.login-btn a{ color: #C7CADE; font-size: 14px;     padding: 8px 40px;}
.login-container-content h2{ font-size: 28px; line-height: 33px; color: #252526; font-weight: 600;margin: 20px 0; }
.login-social-btn a{padding: 8px 40px;display: inline-block; color: #FFFFFF; border-radius: 5px;     margin: 0 10px 0 0;}
.g-btn{ background: #DD4B39; }
.fb-btn{ background: #3B5998; }
.login-social-btn a span{ padding: 0 10px 0 0; }
.login-social-btn a:hover{ background: #05c998; color: #fff; }
.sign-btnn{padding: 8px 40px; border-radius: 5px; background: #5367FF; border: none; color: #fff; font-size: 15px;}
.sign-btnn:hover{ background: #05c998; color: #fff;}
.login-frm label{ font-size: 14px; color: #252526; font-weight: 600; margin-bottom: 2px; }
.login-frm input{ border: 1px solid #607291; font-size: 14px; }
.login-frm input::placeholder{ font-size: 14px; color: #86888B; }
.login-frm .form-control:focus{box-shadow:none; border: 1px solid #607291;}
.for-link a{display: block; text-align: right; color: #5367FF; font-size: 14px; margin-bottom: 20px;}
.item-img img {
    width: 250px !important;
    height: 320px;
    object-fit: contain;
}
.login-frm{margin: 20px 0;}
.login-slider{ padding-top: 40px; }

.login-slider .owl-dots {

	text-align: center;
	margin:0 auto;
	padding-top: 60px;

}
.login-slider .owl-dots button {
	width: 7px;
	height:7px;
	display: inline-block;
	background: #e2e6ea;
	margin: 0 3px;
	border-radius: 50px;
}
.login-slider .owl-dots button.owl-dot.active {

	background: #5367FF;
}
.login-slider .owl-dots button.owl-dot:focus {
	outline: none;
}


.dnt-fld {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.dnt-fld span a{ font-size: 14px; text-align: right; color: #5367FF; }
.dnt-fld span p{ color:#86888B; font-size: 14px; }
.input-box {border: 1px solid #607291;border-radius: .25rem;    padding: .375rem .75rem; }
.input-box{ font-size: 14px; color: #86888B; }


.drop-down{
    display: inline-block;
    position: relative;
}



.drop-down__name {
    font-size: 9px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    letter-spacing: 2px;
}

.drop-down__icon {
    width: 18px;
    vertical-align: middle;
    margin-left: 14px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  
}



.drop-down__menu-box {
    position: absolute;
    width: 200px;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
     transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
 visibility: hidden;
opacity: 0;
  margin-top: 5px;
}

.drop-down__menu {
    margin: 0;
    padding: 0 13px;
    list-style: none;
  
}
.drop-down__menu-box:before{
  content:'';
  background-color: transparent;
  border-right: 8px solid transparent;
  position: absolute;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-top: 8px solid transparent;
  top: -15px;
  right: 18px;

}

.drop-down__menu-box:after{
  content:'';
  background-color: transparent;
}

.drop-down__item {
    font-size: 13px;
    padding: 13px 0;
    text-align: left;
    font-weight: 500;
    color: #909dc2;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #e0e2e9;
}

.drop-down__item-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    fill: #8995b6;
  
}

.drop-down__item:hover .drop-down__item-icon{
  fill: #f59d58;
}

.drop-down__item:hover{
  color: #f59d58;
}



.drop-down__item:last-of-type{
  border-bottom: 0;
}


.drop-down--active .drop-down__menu-box{
visibility: visible;
opacity: 1;
  margin-top: 15px;
}

.drop-down__item:before{
  content:'';
  position: absolute;
width: 3px;
height: 28px;
background-color: #f59d58;
left: -13px;
top: 50%;
transform: translateY(-50%);
  display:none;
}
.drop-down__item:hover:before {
    display: block;
}
.drop-down-img{
  background: linear-gradient(to right,#f67611, #f59d58);
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  border-radius:50px;
  cursor: pointer;
}
.drop-down-img img{ width: 40px; height: 40px; object-fit: cover; }

.profile {
    padding: 0 0px 0 20px;
}
.inr-banner{
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d4d5dc+0,eeeff1+74,ffffff+93 */
background: #d4d5dc; /* Old browsers */
background: -moz-linear-gradient(top,  #d4d5dc 0%, #eeeff1 74%, #ffffff 93%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #d4d5dc 0%,#eeeff1 74%,#ffffff 93%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #d4d5dc 0%,#eeeff1 74%,#ffffff 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d5dc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  }


.fro-fld figure{border: 3px solid #fff; width: 100px; height: 100px; border-radius: 100%; overflow: hidden;margin: 0 auto;}
.fro-fld figure img{ width: 100%; height: 100%; object-fit: cover; }
.fro-fld{ text-align: center; margin: 0 auto; position: relative; margin-top: -74px;}
.profile-details h3{ font-size: 35px; line-height: 40px; color:#252526; font-weight: 600; }
.profile-details p{ font-size: 17px; color: #2C3933; }
.profile-details p span{ padding: 0 0 0 5px; }
.body-wrpp{ background: #F6F6F6; padding: 40px 0;}
/*---sidemenu-----*/
.side-menu{
  background: #fff; padding: 10px 0; border-radius: 5px;}
.side-menu ul li.active a{ background:#EFF1FF; color:#5367FF; display: block; border-bottom: 2px solid #5367FF;}
.side-menu ul li{ margin: 0 0 5px 0;}
.side-menu ul li a{ color: #252526; font-size: 17px;display: block; line-height: 22px; padding: 10px 15px; font-weight: 600;}
.side-menu ul li a:hover{ background: #EFF1FF; color:#5367FF; }
.consult-fld-new{
      position: relative;
    background: #00d09c;
    border-radius: 5px;
    padding: 20px;
    margin-top: 35px;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: #5367FF; color: #fff;
}
.tab-top a{ color: #C7CADE; font-size:18px; line-height: 23px;}
.project-tab .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{ border: none !important; }
.project-tab .nav-tabs{ border-bottom: none !important; }
.nav-tabs .nav-link{ border: none !important; }
.project-tab .tab-content{ margin-top:20px; }
.personal-info h4 {
    color: #5367FF;
    margin-bottom:10px;
    font-size: 18px;
    font-weight: 600;
}
.personal-info h5{ color:#252526; font-weight: 600; font-size: 14px; line-height: 20px; font-size: 14px; margin-bottom: 5px;}
.personal-info p{color: #86888B; font-size: 14px;}
.personal-info { margin-bottom:20px;}

.plus-icon img{ width:35px; height:35px; object-fit: cover; }
.text-sb{ color:#252526; font-size: 14px; font-weight: 600; margin-left: 15px; }
.form-fld input{ width: 100%;  border: 1px solid #607291; height: 45px; }
.form-fld { margin-bottom:15px;}
.edit-fld span {
    display: inline-block;
    padding: 10px 0 0 20px;
    color: #86888B;
}
.profile-details {margin: 10px 0 20px 0;}
.bg_white{ background: #fff; padding: 20px; border-radius: 5px; }
.head-sm h2{ font-size: 30px; }
.view-all a{ font-size: 16px; color: #5367FF; }

.arrw-all .owl-nav {
    position: absolute;
    right: -10px;
    width: 125px;
    top: 40%;
    transform: translate(-0%, -50%)
}

.arrw-all .owl-nav button span{
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    font-size: 0;
    top: 12px;

}

/*.arrw-all .owl-nav button.owl-prev span{
    background: url(../images/a-left.png) no-repeat ;
    left:18px;
}*/

.arrw-all .owl-nav button.owl-next span{
    background:#fff url(../images/right.png) no-repeat center;
   right:0;   
   width: 40px; height: 40px;
   border-radius: 50px;
}
.spanner{
  position:absolute;
  top: 50%;
  left: 0;
  background: #2a2a2a55;
  width: 100%;
  display:block;
  text-align:center;
  height: 300px;
  color: #FFF;
  transform: translateY(-50%);
  z-index: 1000;
  visibility: hidden;
}

.overlay{
  position: fixed;
	width: 100%;
	height: 100%;
  background: rgba(0,0,0,0.5);
  visibility: hidden;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.show{
  visibility: visible;
}

.spanner, .overlay{
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.spanner.show, .overlay.show {
	opacity: 1
}

.bg-primary-new{
  background-color: #5367FF;
  color: #fff;
}

/*----sidemenu---*/
.form-control:focus{ box-shadow: none;     border: 1px solid #ddd;}
.right_wrp ul li{ display: inline-block;  margin: 0 0 0 20px;}

.side-menu{  padding-top: 45px; width: 245px; border-right: 1px solid #ddd; padding-right: 50px;}

.right_wrp .drop-down{
    display: inline-block;
    position: relative;
}

.consult-img{ width: 48px; height: 48px; border-radius: 100px; }

.right_wrp .drop-down__name i {
font-size: 30px;
color: #999;
   }

.right_wrp .drop-down__icon {
    width: 18px;
    vertical-align: middle;
    margin-left: 14px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  
}



.right_wrp .drop-down__menu-box {
    position: absolute;
    width: 250px;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
     transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
 visibility: hidden;
opacity: 0;
  margin-top: 5px;
  z-index: 9;
}


.right_wrp .drop-down__menu-box:before{
  content:'';
  background-color: transparent;
  border-right: 12px solid transparent;
  position: absolute;
  border-left:12px solid transparent;
  border-bottom: 12px solid #fff;
  border-top: 12px solid transparent;
  top: -25px;
  right: 18px;

}

.right_wrp .drop-down__menu-box:after{
  content:'';
  background-color: transparent;
}

.right_wrp .drop-down__item {
    font-size: 14px;
    padding: 6px 20px;
    text-align: left;
    font-weight: 500;
    color: #666;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #e0e2e9;
}

.right_wrp .drop-down__item-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    fill: #8995b6;
  
}

.right_wrp .drop-down__item:hover .drop-down__item-icon{
  fill: #00D09C;
}

.right_wrp .drop-down__item:hover{
  color: #00D09C;
}



.right_wrp .drop-down__item:last-of-type{
  border-bottom: 0;
}


.right_wrp .drop-down--active .drop-down__menu-box{
visibility: visible;
opacity: 1;
  margin-top: 15px;
}

.right_wrp .drop-down__item:before{
  content:'';
  position: absolute;
width: 3px;
height: 28px;
background-color: #00D09C;
left:0px;
top: 50%;
transform: translateY(-50%);
  display:none;
}

.right_wrp .drop-down__item:hover:before{
  display:block;
}
.right_wrp .drop-down__menu li{display: block !important;}
.right_wrp .drop-down__menu-box ul li a{ color:#2C3933 !important; margin: 0 !important; padding: 0 !important; }
.right_wrp .wrp-right{    margin-top: 0% !important;}
.right_wrp .wrp-right .nav-menu li a{    padding: 0px 10px 0px !important;}
.right_wrp .nav-menu li a:active {
    color: #f59d58 !important;
}
.right_wrp .drop-down__button{ cursor: pointer; }

.search-fld{ position: relative; }
.searxh-icon {
    position: absolute;
    left: 7px;
    z-index: 5;
    top: 15px;

}
.searxh-icon {
    position: absolute;
    left: 7px;
    z-index: 5;
    top: 12px;
    bottom: 0;
    margin: 0 auto;
}


.joined-left #custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
.joined-left #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 7px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
.joined-left #custom-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    position: absolute;
    right: 7px;
    top: -4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #767676;
}
 
.joined-left .search-query:focus + button { z-index: 3; }
.setng-btn i {  font-size: 19px;}
button.serh-btn {
    padding-top: 16px;
    margin-top: 10px;
    position: absolute;
    top: 8px;
    color: #666 !important;
}
.joined-left{ background: #fff; border-radius: 5px; border: 1px solid #ddd; padding:20px 15px; }
.text-head h3{ font-size: 20px; color: #2C3933; font-weight: 600; margin-bottom: 10px; }
.sett-icon{ color:#5367FF; font-size: 15px; }
.joined-head{ display: flex; justify-content: space-between;}
.joined-head{ margin: 25px 0; }
.img-join img{ width: 60px; height:60px; object-fit: cover; }
.profile-name h3{ font-size: 17px; font-weight: 600; color:#252526; margin-bottom: 5px; }
.profile-name p{ 
      font-size: 14px;
    color: #86888B;
    line-height: 20px;
    font-weight: 500;
}
 .profile-name {
    padding-left: 20px;
}
.join-list{ margin-bottom: 15px; }
.cover-center{ 
      background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 20px 0px;
 }
 .post-fld{ display: flex; }
 .post-name h3{ font-size: 17px; color: #252526; font-weight: 600; line-height: 20px; margin-bottom: 0px;}
  .post-name p{ 
    font-size: 14px;
    color: #86888B;
    line-height: 20px;
    font-weight: 500;
  }
.post-name {
    padding-left:15px;
}
.drop-view i{ color:#999; }
.top-head.d-flex.justify-content-between {
    margin-bottom: 12px;
    border-bottom: 1px solid #ddd;
        padding: 0 15px 21px 15px;
}
.cover-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.cover-img{padding:0 15px;}
.cover-img p{ 
  padding: 15px 0; 
  font-size: 15px;
    color: #2C3933;
    line-height: 20px;
    font-weight: 500;
}
.commnt-fld ul li {
    display: inline-block;
    margin: 0 25px 0 0;
}
.commnt-fld ul li a{ color: #252526; font-size: 13px; }
.commnt-fld ul li span{ margin: 0 10px 0 0; }
.commnt-fld {
    padding: 3px 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.commnt-fld ul li:last-child{ text-align: right; }
.commnt-fld-new ul li{padding: 3px 10px; color: #ddd; font-size: 13px; display: inline-block; margin-bottom: 0;}
.commnt-fld-new ul li a{ color: #5367FF; font-size: 13px; }
.commnt-fld-new {
    padding-left: 53px;
}
.commt-post:nth-child(2n) {

  margin-left:10px;
}
.commt-post{ padding: 10px;margin-left:40px; }
span.commnt-input textarea {
    width: 100%;
    height: 40px;
    background: #ddd;
}
.comt-area {
    display: flex;
        margin-top: 20px
}
.round-img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100px;
}
.view-post{padding: 10px 20px;}
.view-post h3{
      font-size: 15px;
    color: #2C3933;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 0px;
}
span.commnt-input {
    width: 80%;
    margin-left: 20px;
}
.sett-icon .setng-btn{ background: transparent; }
.sett-icon .dropdown-toggle::after{content: none !important;}
.btn.focus, .btn:focus{ box-shadow: none; }
.sett-icon .btn{ padding: 0 !important; color:#007bff !important;}
/* Dropdown */
.sett-icon .dd-input:checked + .dd-menu {
    display: block;
    position: absolute;
    z-index: 5;
    right: 0;
}

.sett-icon .dropdown {
  display: inline-block;
  position: relative;
}

.sett-icon .dd-button {
  cursor: pointer;

}



.sett-icon .dd-button:hover {
  background-color: #eeeeee;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 5px 20px;
  cursor: pointer;
  white-space: nowrap;
  margin-bottom: 0;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
  color: #666;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
.commnt-fld-new ul li:last-child a{ color: #86888B; }
.scroll-bar-wrap {
  width:234px;
  position: relative;

}
.scroll-box {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
}
.scroll-box::-webkit-scrollbar {
  width: .4em; 
}
.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
.scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}
.cover-bar {
  position: absolute;
  background: #fff;;
  height: 100%;  
  top: 0;
  right: 0;
  width: .4em;
  -webkit-transition: all .5s;
  opacity: 1;
}
/* MAGIC HAPPENS HERE */
.scroll-bar-wrap:hover .cover-bar {
   opacity: 0;
  -webkit-transition: all .5s;
}