@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.otf');
  src: url('../fonts/ProximaNova-Regular.svg');
  src: url('../fonts/ProximaNova-Regular.ttf');
  src: url('../fonts/ProximaNova-Regular.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.otf');
  src: url('../fonts/ProximaNova-Semibold.svg');
  src: url('../fonts/ProximaNova-Semibold.ttf');
  src: url('../fonts/ProximaNova-Semibold.woff');
  font-weight: normal;
  font-style: normal;
}