<template>
    <main>
        <div class="card text-center">
            <div class="card-header" style="text-align:center"><h1>About Us</h1></div>
            <div class="card-body">
                <div class="content"  v-html="content"></div>
            </div>
            <div class="card-footer"></div>
        </div>
    </main>
</template>

<script>


export default {
        data(){
            return {
                content : ""
            }
        },
    
    
    methods: {
        fetch: function(){
            axios.post(this.API_BASE_URL+'get_cms', {
                content_type: "about-us"
            })
            .then(response=>{
                console.log('success');
                this.content = response.data.data[0].content;
            })
            .catch(error => {
            })
        }
    },
    beforeMount(){
        this.fetch();
    }
       

}
</script>
