<template>
    <main>
        <Header/>
        
        <section class="inr-banner">
        
        </section>
                  
        <div class="body-wrpp">
            <h3 class="text-center" style="font-size: 35px;font-weight: 600;color: #252526;">Contact us</h3>
            <div class="contact-fld">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                        <div class="contact_box">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <h2>Call Us</h2>
                            <p><a href="tel:1234567890">1234567890</a></p>
                        
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact_box">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                            <h2>Mail Us</h2>
                            <p><a href="mailto:privategroupAdmin@yopmail.com">privategroupAdmin@yopmail.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact_box">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <h2>Address</h2>
                        <p>250 Walker Pkwy N, #9, Newmarket</p>
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="contactform ">
            <div class="container">
                <div class="cont-head mb-5 text-center ">
                    <h2>REQUEST A QUOTE</h2>
                    <p>Please fill out the information below to get started on a quote today!</p>
                </div>
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="contact_form1">
                            <form  ref="form" @submit.prevent="handleSubmit">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control"  v-model="user.name"  placeholder="Enter Name" :class="{ 'is-invalid': submitted && $v.user.name.$error }">
                                    <div v-if="submitted && !$v.user.name.required" class="invalid-feedback">Please enter your name</div>

                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="Enter your email address" v-model="user.email" :class="{ 'is-invalid': submitted && $v.user.email.$error }">
                                    <div v-if="submitted && $v.user.email.$error" class="invalid-feedback">
                                        <span v-if="!$v.user.email.required">Email is required</span>
                                        <span v-if="!$v.user.email.email">Email is invalid</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" v-model="user.phone" class="form-control" placeholder="Enter your contact number" :class="{ 'is-invalid': submitted && $v.user.phone.$error }" maxlength="10" onkeyup="this.value = this.value.replace(/[^0-9]/g,'');">
                                    <div v-if="submitted && !$v.user.phone.required" class="invalid-feedback">Please enter your Phone Number</div>
                                </div>
                                <div class="form-group">
                                    <label>Enter Your Message*</label>
                                    <textarea class="form-control" rows="3"  v-model="user.message" placeholder="Enter your contact number" :class="{ 'is-invalid': submitted && $v.user.message.$error }"></textarea>
                                    <div v-if="submitted && !$v.user.message.required" class="invalid-feedback">Please enter your query here</div>
                                </div>
                                <button  type="submit" class="btn-submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer/>
    </main>
</template>


<script>

import Footer from './Footer.vue';
import Header from './Header-home.vue';
import { required, email, minLength, sameAs,numeric,maxLength } from "vuelidate/lib/validators";
export default {
        data(){
            return {
                content : "",
                submitted: false,
                user:{
                    name:"",
                    email:"",
                    phone: "",
                    message: ""
                },
            }
        },
        components:{
			Header,
            Footer
	    },
        validations: {
            user:{
                name: {required},
                email: { required,email },
                phone: {required,numeric,minLength: minLength(10),maxLength:maxLength(10)},
                message: {required}
            }
            
        },
        methods: {
            handleSubmit(e) {
                this.submitted = true;
                this.$v.$touch();
                if (this.$v.$invalid) {
                    return;
                }
                axios.post(this.API_BASE_URL + 'contact_quote', this.user).then(response => {
                    let data = response.data;
                    if(data.status == '200'){
                        Vue.$toast.success(data.message, {
                            position: 'top'
                        });
                        this.$refs.form.reset();

                    } else{
                        Vue.$toast.error(data.message, {
                            position: 'top'
                        })
                    }
                   
                }).catch(error => {
                    Vue.$toast.error(error, {
                        position: 'top'
                    })
                });
            } 
        }
}
</script>