<template>
    <footer class="main-ftr">
            
            <div class="container">
                <div class="row d-flex justify-content-center  align-items-center">
                    <div class="col-lg-7">
                        <div class="ftr-menu">
                            <ul>
                                <li>
                                    <router-link to="about-us"> About Us</router-link>
                               </li>
                                <li><router-link to="terms-conditions">Terms & Conditions</router-link></li>
                                <li><router-link to="privacy-policy"> Privacy Policy</router-link></li>
                                <li>><router-link to="contact-us">Contact Us</router-link></li>
                            </ul>
                        </div>
                        <div class="copy-right">
                            <p> Private Group. | Website designed and developed by Ivan Infotech Pvt. Ltd.</p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="ftr-socila">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            <CookieLaw theme="royal" buttonDecline>
                <div slot="message">
                    This Website users Cookies to ensure you to get the best experience on our web site. To read our privacy policy <router-link to="privacy-policy">Click here</router-link>
                </div>
            </CookieLaw>
        </footer>
</template>
<script>
  import CookieLaw from 'vue-cookie-law';
  export default {
    components: { CookieLaw }
  }
</script>