<template>
    <main>
        <Header/>
        <section class="inr-banner">
            <div class="container">
                <div class="cover-img"><img :src="this.ASSET_URL+'frontend/images/covr-img.png'" alt=""></div>
                <div class="fro-fld">
                    <figure>
                        <img v-if="this.group_data.profile_picture!= null"   :src="this.UPLOADS_URL+this.group_data.profile_picture.path" alt="" class="rounded-circle">
                        <img v-else :src="UPLOADS_URL+'images/noimage.jpg'" alt="">
                    </figure>
                    <span class="profile-details">
                        <h3>{{group_data.group_name}}</h3>
                        <p><span>
                            <i class="fa fa-lock" aria-hidden="true">
                            Joining Charge : $ {{group_data.group_charge}}
                            </i>
                            </span>
                        </p>
                    </span>
                </div>
            </div>
        </section>
        <div class="body-wrpp">
            <div style=" background: #F6F6F6; padding: 50px 0;">
                <div class="grop-fld">
                    <div class="info-fld">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="joined-left">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="  search-query form-control" placeholder="Search" />
                                                <button class="serh-btn" type="button">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="joined-head">
                                            <span class="text-head">
                                                <h3>Group you've joined</h3>
                                            </span>
                                            <span class="sett-icon">
                                                <label class="dropdown">
                                                    <div class="dd-button setng-btn">
                                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                                    </div>
                                                    <input type="checkbox" class="dd-input" id="test">
                                                    <ul class="dd-menu">
                                                        <li><a href="#">Action</a></li>
                                                        <li><a href="#">Another action</a></li>
                                                    </ul>
                                                </label>
                                            </span>
                                        </div>
                                        <div class="join-list d-flex">
                                            <div class="img-join">
                                                <img :src="this.ASSET_URL+'/frontend/images/g1.png'" alt="">
                                            </div>
                                            <div class="profile-name">
                                                <h3>Ben Schmidt</h3>
                                                <p>Advocate</p>
                                            </div>
                                        </div>
                                        <div class="join-list d-flex">
                                            <div class="img-join">
                                                <img :src="this.ASSET_URL+'/frontend/images/g1.png'" alt="">
                                            </div>
                                            <div class="profile-name">
                                                <h3>Ben Schmidt</h3>
                                                <p>Advocate</p>
                                            </div>
                                        </div>
                                        <div class="join-list d-flex">
                                            <div class="img-join">
                                                <img :src="this.ASSET_URL+'/frontend/images/g1.png'" alt="">
                                            </div>
                                            <div class="profile-name">
                                                <h3>Ben Schmidt</h3>
                                                <p>Advocate</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="consult-fld-new  d-flex">
                                        <div class="consult-img"><img :src="this.ASSET_URL+'/frontend/images/1.png'" alt="">
                                        </div>
                                        <div class="consult-text">
                                            <p>Consult with</p>
                                            <h5>Mario Wolfgang Fröhlich</h5>
                                            <p>Advisor</p>
                                        </div>
                                        <div class="ply-icon"><i aria-hidden="true" class="fa fa-video-camera"></i></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cover-center mb-3">
                                        <div class="add-post-box">
                                            <span class="round-img">
                                            	<img :src="this.UPLOADS_URL+this.profile_pic" alt="">
                                            </span>
                                            <div class="add-post-btn">
                                                <button type="button" class="btn btn-post" data-toggle="modal" data-target="#exampleModal">Add a new post <i class="fa fa-plus" aria-hidden="true"></i></button>
                                            </div>
                                            <div class="add-post-img">
                                                <input type="file" name="">
                                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="modal fade add-post-content-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Create post</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
													<form @submit.prevent="post" enctype="multipart/form-data">
														<div class="add-post-content">
															<div class="add-post-content-body">
																<div class="post-fld">
																	<span class="round-img">
																	<img :src="this.UPLOADS_URL+this.profile_pic" alt="">
																	</span>
																	<div class="post-name">
																		<h3>{{this.user.name}}</h3>
																		<!-- <p class="posting-group"><i class="fa fa-users" aria-hidden="true"></i> Ben Schmidt</p> -->
																	</div>
																</div>
																<div class="add-post-content-text-area">
																	<textarea placeholder="Write something..." v-model="post_data.text_content"></textarea>
																	 <div v-if="submitted && !$v.post_data.text_content.required" class="invalid-feedback"> Please write something to post</div>
																	<div class="uploaded-images">
																		<div id="uploaded-images"></div>
																		<div class="post-img" v-for="(image, key) in images" :key="key">
																			<img class="img-fluid" :ref="'image'" />
																			<div class="remove">×</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="add-post-content-footer">
																<button type="submit" class="btn btn-post">Post</button>
																<div class="add-post-img">
																	<input type="file" name="" id="upload-image" :ref="post_images" multiple @change="onFileChange">
																	<i class="fa fa-picture-o" aria-hidden="true"></i>
																</div>
																<div class="add-post-img">
																	<button type="button" class="btn btn-post-img" ><i class="fa fa-calendar" aria-hidden="true"></i></button>
																</div>
															</div>
														</div>
													</form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cover-center" v-for="post in all_post_arr" :key="post.id">
                                        <div class="top-head d-flex justify-content-between">
                                            <div class="post-fld">
                                                <span class="round-img">
                                                    <img  v-if="post.user.profile_picture.path != null"  :src="UPLOADS_URL+ post.user.profile_picture.path" alt="">
                                                    <img v-else :src="UPLOADS_URL+'images/noimage.jpg'" alt="">
                                                </span>
                                                <div class="post-name">
                                                    <h3>{{post.user.name}}</h3>
                                                    <p>{{post.created_at}}</p>
                                                </div>
                                            </div>
                                            <div class="drop-view sett-icon">
                                                <label class="dropdown">
                                                    <div class="dd-button setng-btn">
                                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                                    </div>
                                                    <input type="checkbox" class="dd-input" id="test">
                                                    <ul class="dd-menu">
                                                        <li><a href="#">Action</a></li>
                                                        <li><a href="#">Another action</a></li>
                                                    </ul>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="cover-img user-posted-imgs">
                                            <figure>   
                                                <div class="user-posted-imgs-box" >
                                                    <img v-for="(key,index) in post.image_arr" :key="index"  :src="UPLOADS_URL+key" alt="" >
                                                    <!-- <div v-if="key == 1" class="has-more-img">
                                                        <img :src="UPLOADS_URL+key" alt="">
                                                        <a href="#">+ 6</a>
                                                    </div> -->
                                                </div>
                                            </figure>
                                            <span>
                                                <p>	{{post.text_content}} </p>
                                            </span>
                                        </div>
                                        <div class="commnt-fld">
                                            <ul>
                                                <li><span><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                                    </span><a href="#">Like</a>
                                                </li>
                                                <li><i class="fa fa-commenting" aria-hidden="true"></i>
                                                    <a href="#" data-toggle="modal" data-target="#CommentModal">Comment</a>
                                                </li>
                                                <li><a href="#">3Comment</a></li>
                                            </ul>
                                                <!-- Modal -->
                                            <div class="modal fade add-post-content-modal post-comments" id="CommentModal" tabindex="-1" aria-labelledby="CommentModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="CommentModalLabel">Comment</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <select>
                                                                <option>All Comments</option>
                                                                <option>Most Relevant</option>
                                                            </select>
                                                            <div class="commt-post">
                                                                <div class="post-fld">
                                                                    <span class="round-img">
                                                                        <img v-if="post.user.profile_picture != null"   :src="UPLOADS_URL+ post.user.profile_picture.path" alt="">
                                                                        <img v-else :src="UPLOADS_URL+'images/noimage.jpg'" alt="">
                                                                    </span>
                                                                    <div class="post-name ">
                                                                        <h3>Peace Bringers</h3>
                                                                        <p>Last post 2days ago</p>
                                                                    </div>
                                                                </div>
                                                                <div class="commnt-fld-new ">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                        tempor incididunt ut labore et dolore magna aliqua.
                                                                    </p>
                                                                    <ul>
                                                                        <li><a href="#">Like</a></li>
                                                                        <li><a href="#">Comment</a></li>
                                                                        <li><a href="#">Reply</a></li>
                                                                        <li><a href="#">30mins</a></li>
                                                                    </ul>
                                                                    <div class="write-reply">
                                                                        <div class="input-group">
                                                                            <textarea class="form-control animated" placeholder="Write Reply.."></textarea>
                                                                            <div class="input-group-append">
                                                                                <button type="button" class="btn btn-post-submit">Post</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="commt-post">
                                                                    <div class="post-fld">
                                                                        <span class="round-img">
                                                                        <img v-if="post.user.profile_picture != null"   :src="UPLOADS_URL+ post.user.profile_picture.path" alt="">
                                                                        <img v-else :src="UPLOADS_URL+'images/noimage.jpg'" alt="">
                                                                        </span>
                                                                        <div class="post-name ">
                                                                            <h3>Peace Bringers</h3>
                                                                            <p>Last post 2days ago</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="commnt-fld-new ">
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                            tempor incididunt ut labore et dolore magna aliqua.
                                                                        </p>
                                                                        <ul>
                                                                            <li><a href="#">Like</a></li>
                                                                            <li><a href="#">Comment</a></li>
                                                                            <li><a href="#">30mins</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="commt-post">
                                                                <div class="post-fld">
                                                                    <span class="round-img">
                                                                        <img v-if=" post.user.profile_picture != null"  :src="UPLOADS_URL+ post.user.profile_picture.path" alt="">
                                                                        <img v-else :src="UPLOADS_URL+'images/noimage.jpg'" alt="">
                                                                    </span>
                                                                    <div class="post-name ">
                                                                        <h3>Peace Bringers</h3>
                                                                        <p>Last post 2days ago</p>
                                                                    </div>
                                                                </div>
                                                                <div class="commnt-fld-new ">
                                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                                        tempor incididunt ut labore et dolore magna aliqua.
                                                                    </p>
                                                                    <ul>
                                                                        <li><a href="#">Like</a></li>
                                                                        <li><a href="#">Comment</a></li>
                                                                        <li><a href="#">30mins</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <a href="#" class="see-more">See More <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                                            <!--  <a href="#" class="see-more">See Less <i class="fa fa-angle-up" aria-hidden="true"></i></a> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="commt-post" v-for="comment in post.comment" :key="comment.id">
                                            <div class="post-fld">
                                                <span class="round-img"> 
                                                    <img  v-if='user.profile_picture != null' :src="UPLOADS_URL+comment.user.profile_picture.path" alt="">
                                                    <img v-else :src="UPLOADS_URL+'images/noimage.jpg'" alt="">
                                                </span>
                                                <div class="post-name ">
                                                    <h3>{{comment.user.name}}</h3>
                                                    <p>{{comment.created_at}}</p>
                                                    <div class="commnt-fld-new ">{{comment.comment}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="view-post">
                                            <h3>{{post.user.name}}</h3>
                                            <div class="comt-area">
                                                <span class="round-img">
                                                    <img :src="UPLOADS_URL+ post.user.profile_picture.path"  alt="">
                                                </span>
                                                <span class="commnt-input">
                                                    <div class="form-group">
                                                        <textarea class="form-control animated" placeholder="Update your status"></textarea>
                                                    </div>
                                                </span>
                                            </div>
                                        </div> -->
                                        <div class="view-post">
                                            <h3>{{post.user.name}}</h3>
                                            <div class="comt-area">
                                                <span class="round-img">
                                                    <img v-if="post.user.profile_picture != null" :src="UPLOADS_URL+ post.user.profile_picture.path"  alt="">
                                                    <img v-else :src="UPLOADS_URL+'images/noimage.jpg'" alt="">
                                                </span>
                                                <span class="commnt-input">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <textarea class="form-control animated" v-model="comment_text"  placeholder="Update your status"></textarea>
                                                            <div class="input-group-append">
                                                                <button type="button" class="btn btn-post-submit" @click="post_comment(post.id,post.user.id)">Post</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="scroll-bar-wrap">
                                        <div class="scroll-box">
                                            <div class="joined-left">
                                                <div class="joined-head">
                                                    <span class="text-head">
                                                        <h3>Group Members</h3>
                                                    </span>
                                                </div>
                                                <div class="join-list d-flex" v-for="member in members" :key="member.id">
                                                    <div class="img-join">
                                                        <img v-if="member.user.profile_picture" :src="UPLOADS_URL+member.user.profile_picture.path" alt="">
                                                        <img v-else :src="UPLOADS_URL+'images/noimage.jpg'" alt="">
                                                        
                                                    </div>
                                                    <div class="profile-name">
                                                        <h3> <a href="javascript:void(0)" @click="viewMember(member.user_id)"> {{member.user.name}}</a></h3>
                                                        <p>{{member.user.occupation}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer/>
    </main>
</template>
<script type="text/javascript">
 $(document).ready(function(){
  $('#dropDown').click(function(event){
    $('.drop-down').toggleClass('drop-down--active');
    event.stopPropagation();
  });
  $(document).click(function(event) {
      if (!$(event.target).hasClass('drop-down--active')) {
          $(".drop-down").removeClass("drop-down--active");
      }
    });
});
  
</script>
<script>
	import Header from './Header-home.vue';
    import Footer from './Footer.vue';
	import { required, email, minLength, sameAs,numeric,maxLength } from "vuelidate/lib/validators";
import Vue from 'vue';
	export default {
	    data() {
	        return {
				token: localStorage.getItem('user-auth-token'),
                group_data:[],
                slug:this.$route.params.slug,
				profile_pic:"",
				user:[],
                members:[],
				post_data:{
					"group_id": "",
					"text_content":"",
					"images":[]
				},
				images: [],
				submitted: false,
				all_post_arr: [],
                post_images:[],
                comment_text: ""
                
	        }
            
	    },
	    components:{
			Header,
            Footer
	    },
		validations: {
            post_data:{
                text_content: ''
            }
            
        },
        methods: {
            group: function(){
                axios.defaults.headers.common['Authorization'] = `Bearer ${this.token}`;
                axios.get(this.API_BASE_URL + 'group_info/'+this.slug).then(response => {
                    this.group_data =   response.data.data;
                    this.members = response.data.data.members;
                }).catch(error => {
               
               });
            },
            viewMember:function(id){
                this.$router.push('/group/'+this.group_data.id+'/member/'+id);
            },
			profile:function(){
				axios.defaults.headers.common['Authorization'] = `Bearer ${this.token}`;
                axios.post(this.API_BASE_URL + 'get_user').then(response => {
                    let data = response.data.data;
					this.user = data;
					this.profile_pic = data.profile_picture.path;
					localStorage.setItem("identification",this.user);
                }).catch(error => {
					
                });
			},
			post:function(){
				this.submitted = true;
                if(this.post_data.text_content == "" && this.images == ""){
                    Vue.$toast.error("Post Cannot be blank",{ position : "top"
                    });
                    return false;
                }
                this.$v.$touch();
                if (this.$v.$invalid) {
                    return;
                }
                const formData = new FormData();
                for (let i = 0; i < this.images.length; i++) {
					console.log(this.images[i],i);
                    this.post_images.push(this.images[i]);
                     formData.append('images['+i+']', this.images[i]);
				}
                formData.append('text_content', this.post_data.text_content);
                formData.append('group_id', this.group_data.id);
				axios.post(this.API_BASE_URL + 'create_post',formData).then(response => {
                    let data = response.data;
					if(data.status == 200){
						Vue.$toast.success(data.message, {
                            position: 'top'
                        });
						$('.modal').modal('toggle');
						$('.modal-backdrop').hide();
						this.post_data.text_content = "";
						this.all_posts();
					}
                }).catch(error => {
					
                });
			},
			onFileChange(e) {
				let vm = this;
				var selectedFiles = e.target.files;
				for (let i = 0; i < selectedFiles.length; i++) {
					console.log(selectedFiles[i]);
					this.images.push(selectedFiles[i]);
				}
				for (let i = 0; i < this.images.length; i++) {
					let reader = new FileReader();
					reader.onload = (e) => {
					this.$refs.image[i].src = reader.result;
					//console.log(this.$refs.image[i].src);
				};
				reader.readAsDataURL(this.images[i]);
				}
                this.$refs.post_images = this.images;
                this.post_data.images = this.images;
			},
			all_posts:function(){
				axios.post(this.API_BASE_URL + 'all_posts',{"group_slug":this.$route.params.slug}).then(response => {
                    let data = response.data.data;
					this.all_post_arr = data;
                    

                }).catch(error => {
					
                });
			},

            post_comment: function(postId,userId){
                console.log(this.comment_text,userId);
                if(this.comment_text != ""){
                    axios.post(this.API_BASE_URL + 'post_comment',{"post_id":postId,"user_id":userId,"comment":this.comment_text}).then(response => {
                        console.log(response);
                        this.recent_comments(postId);
                        this.comment_text = "";
                    }).catch(error => {
                        
                    });
                }
            },

            recent_comments: function(postId){
                axios.post(this.API_BASE_URL + 'recent_comments',{"post_id":postId}).then(response => {
                    console.log(response.data.data, "comments_rest");
                    for(let i =0; i< this.all_post_arr.length; i++ ){
                        if(this.all_post_arr[i].id == postId){
                            this.all_post_arr[i].comment = response.data.data;
                            console.log(this.all_post_arr[i],"test");
                        }
                    }
                    
                }).catch(error => {
                    
                });
            },
            all_comments:function(postId){

            }
        },
		
        beforeMount(){
			this.group();
			this.profile();
			this.all_posts();
		},

		
		
	}
</script>