<template>
	<main>
		<Header/>
		<section class="inr-banner">
			<div class="container">
				<div class="cover-img"><img :src="this.ASSET_URL+'frontend/images/covr-img.png'" alt=""></div>
				<div class="fro-fld">
					<figure><img :src="this.UPLOADS_URL+this.profile_pic" alt="" class="rounded-circle"></figure>
					<span class="profile-details">
						<h3>{{user.name}}</h3>
						<p><span><i class="fa fa-lock" aria-hidden="true"></i>
							</span>
						</p>
					</span>
				</div>
			</div>
		</section>
		<nav class="navbar navbar-expand-lg navbar-dark  bg-primary-new">
			
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="javascript:void(0)">About </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="javascript:void(0)">Posts</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="javascript:void(0)">Pricing</a>
					</li>
				</ul>
				<span class="navbar-text">
					<button class="btn btn-primary" style="background-color:00d09c" @click="book_appointment()">Book Appoinment</button>
					<button class="btn btn-primary" style="background-color:00d09c" @click="send_email()">Send Email</button>
				</span>
			</div>
		</nav>
		<div class="body-wrpp">
			<section class="profile-section">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<div class="info-fld">
								<div id="tabs" class="project-tab">
									<div class="container">
										<div class="row">
											<div class="col-md-12">
												<nav>
													<div class=" tab-top nav nav-tabs nav-fill" id="nav-tab" role="tablist">
														<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Personal information</a>
														<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Education details</a>
														<!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Details about you</a> -->
													</div>
												</nav>
												<div class="tab-content" id="nav-tabContent">
													<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
														<div class="bg_white">
															<div class="d-flex justify-content-between">
																<div class="personal-info">
																	<h4>Contact Info</h4>
																	<h5>{{user.contact_number}}</h5>
																</div>
																
															</div>
															<div class="d-flex justify-content-between">
																<div class="personal-info">
																	<h5>{{user.email}}</h5>
																	<p>Email address</p>
																</div>
																
															</div>
															<div class="d-flex justify-content-between">
																<div class="personal-info">
																	<h4>Basic Info</h4>
																	<h5>{{user.dob}}</h5>
																	<p>Date of birth</p>
																</div>
																
															</div>
															<div class="d-flex justify-content-between">
																<div class="personal-info">
																	<h5>{{user.gender == '0' ? "Male" : "Female"}}</h5>
																	<p>Gender</p>
																</div>
																
															</div>
														</div>
													</div>
													<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
														<div class="bg_white">
															<div class="d-flex justify-content-between">
																<div class="personal-info">
																	<h4>Highest Qualification</h4>
																	<h5>{{user_details.highest_qualification}}</h5>
																</div>
																
															</div>
															<div class="d-flex justify-content-between">
																<div class="personal-info">
																	<h4>Institute Name</h4>
																	<h5>{{user_details.institute_name}}</h5>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="consult-fld-new  d-flex">
								<div class="consult-img" style="height:10px;width:76px"><img :src="this.UPLOADS_URL+this.profile_pic" class="rounded-circle" alt=""></div>
								<div class="consult-text">
									<p>Consult with</p>
									<h5>{{user.name}}</h5>
									<p>Advisor</p>
								</div>
								<div class="ply-icon"><i class="fa fa-video-camera" aria-hidden="true"></i> </div>
							</div>
							<div class="side-menu">
								<ul>
									<li class="active"><a href="#">Pick a Date</a></li>
								</ul>
								<VueCtkDateTimePicker v-model="date_time" />
							
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="text-center">
                                    <p> Write your thoughts below..</p>
                                        <div class="panel-body">
                                            <fieldset>
                                                <form  @submit.prevent="handleEmail">
                                                    <div class="form-group">
														<textarea  v-model="mail.mail_body" class="form-control" id="exampleInputEmail1" placeholder="....." :class="{ 'is-invalid': submittedEmail && $v.mail.mail_body.$error }"></textarea>
                                                        <div v-if="submittedEmail && $v.mail.mail_body.$error" class="invalid-feedback">
                                                            <span v-if="!$v.mail.mail_body.required">Email Body is required</span>
                                                        </div>
                                                    </div>
                                                    <input class="btn btn-lg btn-primary btn-block" value="Send" type="submit">
                                                </form>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
        <div class="spanner">
        <div class="loader"></div>
		</div>
		<Footer/>
	</main>
</template>
<script>
 $(document).ready(function(){ 
  $('#dropDown').click(function(event){
    $('.drop-down').toggleClass('drop-down--active');
    event.stopPropagation();
  });
  $(document).click(function(event) {
      if (!$(event.target).hasClass('drop-down--active')) {
          $(".drop-down").removeClass("drop-down--active");
      }
    });
});
</script>
<script>
	import Header from './Header-home.vue';
	import { required, email, minLength, sameAs,numeric,maxLength } from "vuelidate/lib/validators";
	import Footer from './Footer.vue';
	export default {
	    data() {
	        return {
	           	token: localStorage.getItem('user-auth-token'),
				
				profile_pic:"",
				user:[],
            	user_permission:[],
				user_role:"",
				user_details:{
					user_id:"",
					wp_number:"",
					highest_qualification:"",
					institute_name:""
				},
				group_data:[],
                group_id:this.$route.params.group_id,
                member_id:this.$route.params.member_id,
                members:[],
				date_time:"",
				submittedEmail: false,
                mail:{
                    mail_body:""
                }
	        }
	    },
	    components:{
			Header,
			Footer
	    },
		 validations: {
            mail:{
                mail_body:{required}
            }
        },
		
	    methods: {
            user_profile :function () {
				axios.defaults.headers.common['Authorization'] = `Bearer ${this.token}`;
                axios.get(this.API_BASE_URL + 'get/user/'+this.member_id).then(response => {
                    let data = response.data.data;
					this.user = data;
					this.profile_pic = data.profile_picture.path;
					console.log(this.profile_pic);
					this.user_permission = data.user_permission;
					this.user_role = data.user_permission[0].roles.role_name;
					this.user_details.wp_number = data.user_details.whatsapp_number;
					this.user_details.highest_qualification = data.user_education_details.highest_qualification;
					this.user_details.institute_name = data.user_education_details.institute_name;
                }).catch(error => {
                });
            },
			
			book_appointment: function(){
				if(this.date_time == ""){
					Vue.$toast.error("Please select date and time for appointment", {
						theme: "toasted-primary", 
						position: "top-right", 
						duration : 2000
					});
				}else{
					console.log(this.date_time,1);
					axios.defaults.headers.common['Authorization'] = `Bearer ${this.token}`;
					axios.post(this.API_BASE_URL+'group/book_appointment',{"member_id":this.member_id,"group_id":this.group_id,"date_time":this.date_time}).then(response =>{
						console.log(response.data);
						Vue.$toast.success(response.data.message, {
							theme: "toasted-primary", 
							position: "top-right", 
							duration : 2000
						});
					}).catch(error =>{
						Vue.$toast.error(response.data.message, {
							theme: "toasted-primary", 
							position: "top-right", 
							duration : 2000
						});
					});
				}
			},
			send_email:function(){
				$("#pwdModal").modal("show");
			},
			handleEmail(e){
                this.submittedEmail = true;
                this.$v.mail.$touch();
                if (this.$v.mail.$invalid) {
                    console.log(3);
                    return;
                }else{
                    $("#pwdModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
					console.log(this.mail.mail_body);
					let data = {"mail_body":this.mail.mail_body,"to_email": this.user.email};
					console.log(data);
                    axios.post(this.API_BASE_URL + 'send_mail_advisor', data).then(response => {
                        let data = response.data;
                        if(data.status == '200'){
                            Vue.$toast.success(data.message, {
                                position: 'top'
                            });
                        } else{
                            Vue.$toast.error(data.message, {
                                position: 'top'
                            })
                        }
                    }).catch(error => {
                        Vue.$toast.error(data.message, {
                            position: 'top'
                        })
                    });
                }
            }
	    },
		beforeMount(){
			this.user_profile();
		},
	}
</script>