<template>
	<header>
        <div class="main-header">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="logo_area"> <a href="javascript:void(0)" class="ts_logo"> <img :src="this.ASSET_URL+'frontend/images/logo.png'" alt="logo"> </a> </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="nav-sup collapse navbar-collapse  align-items-center justify-content-end" id="navbarNavDropdown">
                        <div class="right_wrp" v-if="this.is_login==true">
                            <div class="sign-btn sign-up"><a href="javascript:void(0)" @click="profile()">Profile</a></div>
                            <div class="sign-btn sign-up"><a href="javascript:void(0)" @click="logout()">Logout</a></div>
                        </div>
                        <div class="right_wrp" v-if="this.is_login == false">
                            <div class="sign-btn sign-in"><router-link to="login">Sign In</router-link></div>
                            <div class="sign-btn sign-up"><router-link to="signup">Sign Up</router-link></div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</template>
<script>
export default {
    data(){
        return {
            is_login:false
        }
    },
    methods:{
        logout:function () {
				localStorage.removeItem('user-auth-token');
                localStorage.removeItem('user-auth-token_expiresIn');
                this.is_login=false;
                Toast.fire({
                    icon: 'info',
                    title:"You have been logged out successfully"
                });
                window.location.href = this.SITE_URL+'login';
                //this.$router.push({ name: 'front_login' });
            },
        profile: function(){
            this.$router.push({ name: 'profile' });
        }
    },
    beforeMount(){
        if (localStorage.getItem('user-auth-token')){
            this.is_login=true;
        }
    }
        
}
</script>