<template>
    <main>
        <Header/>
        
        <div class="banner-fld">
            <div class="container">
                <div class="d-flex align-items-center">
                    <div class="bnr-left">
                        <div class="bnr-cont">
                            <h2>Love Heartache</h2>
                            <p>Tell us about your lovesickness, you can write to us or call our helpline. <span>You are not alone.</span></p>
                        </div>
                        <div class="Bttn"> <a href="#">Request to Join Privat Group</a> </div>
                        <div class="view-list">
                            <ul>
                                <li><img :src="this.ASSET_URL+'frontend/images/1.png'" alt=""></li>
                                <li><img :src="this.ASSET_URL+'frontend/images/2.png'" alt=""></li>
                                <li><img :src="this.ASSET_URL+'frontend/images/3.png'" alt=""></li>
                                <li>221k+ Advisor</li>
                            </ul>
                        </div>
                        <div class="consult-fld d-flex">
                            <div class="consult-img"><img :src="this.ASSET_URL+'frontend/images/c1.png'" alt=""></div>
                            <div class="consult-text">
                                <p>Consult with</p>
                                <h5>Mario Wolfgang Fröhlich</h5>
                                <p>Advisor</p>
                            </div>
                            <div class="ply-icon"><i class="fa fa-video-camera" aria-hidden="true"></i> </div>
                        </div>
                    </div>
                    <div class="bnr-right"><img :src="this.ASSET_URL+'frontend/images/bnr.png'" alt="img"></div>
                </div>
            </div>
        </div>
        <section class="suggested-fld ptb">
            <div class="container">
                <div class="sub-head">
                    <h2>Suggested Group</h2>
                </div>
                <div class="suggested-list">
                   
                    <div class="suggested-slider owl-carousel owl-theme">
                        <div class="item-box" v-for="group in groups" :key="group.id">
                            <div class="img-box">
                                <figure><img :src="UPLOADS_URL+group.profile_picture.path" alt=""></figure>
                                <div class="memb-text">
                                    <h5>{{group.group_name}}</h5>
                                    <p>Pay: ${{group.group_charge}}</p>
                                </div>
                            </div>
                            <div class="des-cont">
                                <p><strong>152K</strong> Doctors, <strong>12K</strong> Advocate, <strong>11K</strong> Nurse, <strong>2K</strong> Civil Engineer, <strong>1K</strong> Writer...</p>
                            </div>
                            <div class="join-btn"> <a :href="SITE_URL+'frontend/signup'" >Join the Group</a> </div>
                        </div>
                    </div>
                        
                <!-- <VueSlickCarousel v-bind="settings"  v-if="groups.length"  ref="carousel" class="suggested-slider owl-carousel owl-theme" 
                >
                 <div class="item-box" v-for="group in groups" :key="group.id">
                            <div class="img-box">
                                <figure><img :src="UPLOADS_URL+group.profile_picture.path" alt=""></figure>
                                <div class="memb-text">
                                    <h5>{{group.group_name}}</h5>
                                    <p>Pay: ${{group.group_charge}}</p>
                                </div>
                            </div>
                            <div class="des-cont">
                                <p><strong>152K</strong> Doctors, <strong>12K</strong> Advocate, <strong>11K</strong> Nurse, <strong>2K</strong> Civil Engineer, <strong>1K</strong> Writer...</p>
                            </div>
                            <div class="join-btn"> <a :href="SITE_URL+'frontend/signup'" >Join the Group</a> </div>
                        </div>
                </VueSlickCarousel> -->
                        
                </div>
            </div>
        </section>
        <section class="view-profile-fld ptb" style="background:url(images/view-bg.png) no-repeat center;">
            <div class="container">
                <div class="profile-slider owl-carousel owl-theme">
                    <div class="item">
                        <div class="d-flex view-prof">
                            <div class="prof-left">
                                <div class="prof-list-box">
                                    <div class="prif-list">
                                        <span class="img-p"><img :src="this.ASSET_URL+'frontend/images/1.png'" alt=""></span> 
                                        <span class="text-p">
                                            <h5>Ben Schmidt</h5>
                                            <p>Advocate</p>
                                        </span>
                                        <span class="profs"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span> 
                                    </div>
                                    <div class="prif-list">
                                        <span class="img-p"><img :src="this.ASSET_URL+'frontend/images/1.png'" alt=""></span> 
                                        <span class="text-p">
                                            <h5>Ben Schmidt</h5>
                                            <p>Advocate</p>
                                        </span>
                                        <span class="profs"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span> 
                                    </div>
                                    <div class="prif-list">
                                        <span class="img-p"><img :src="this.ASSET_URL+'frontend/images/1.png'" alt=""></span> 
                                        <span class="text-p">
                                            <h5>Ben Schmidt</h5>
                                            <p>Advocate</p>
                                        </span>
                                        <span class="profs"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span> 
                                    </div>
                                    <div class="prif-list">
                                        <span class="img-p"><img :src="this.ASSET_URL+'frontend/images/1.png'" alt=""></span> 
                                        <span class="text-p">
                                            <h5>Ben Schmidt</h5>
                                            <p>Advocate</p>
                                        </span>
                                        <span class="profs"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span> 
                                    </div>
                                </div>
                            </div>
                            <div class="prof-right">
                                <div class="sub-head">
                                    <h2>View profile & find the best advisor</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaini</p>
                                </div>
                                <div class="Bttn mt-4"> <a href="#">Create Account Free</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="d-flex view-prof align-items-center">
                            <div class="prof-left">
                                <div class="prof-list-box">
                                    <div class="prif-list">
                                        <span class="img-p"><img :src="this.ASSET_URL+'frontend/images/1.png'" alt=""></span> 
                                        <span class="text-p">
                                            <h5>Ben Schmidt</h5>
                                            <p>Advocate</p>
                                        </span>
                                        <span class="profs"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span> 
                                    </div>
                                    <div class="prif-list">
                                        <span class="img-p"><img :src="this.ASSET_URL+'frontend/images/1.png'" alt=""></span> 
                                        <span class="text-p">
                                            <h5>Ben Schmidt</h5>
                                            <p>Advocate</p>
                                        </span>
                                        <span class="profs"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span> 
                                    </div>
                                    <div class="prif-list">
                                        <span class="img-p"><img :src="this.ASSET_URL+'frontend/images/1.png'" alt=""></span> 
                                        <span class="text-p">
                                            <h5>Ben Schmidt</h5>
                                            <p>Advocate</p>
                                        </span>
                                        <span class="profs"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span> 
                                    </div>
                                    <div class="prif-list">
                                        <span class="img-p"><img :src="this.ASSET_URL+'frontend/images/1.png'" alt=""></span> 
                                        <span class="text-p">
                                            <h5>Ben Schmidt</h5>
                                            <p>Advocate</p>
                                        </span>
                                        <span class="profs"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span> 
                                    </div>
                                </div>
                            </div>
                            <div class="prof-right">
                                <div class="sub-head">
                                    <h2>View profile & find the best advisor</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer  </p>
                                </div>
                                <div class="Bttn mt-4"> <a href="#">Create Account Free</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section1 ptb">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6">
                        <div class="sub-head">
                            <h2>With the help of top professionals like you, we can provide them the ultimate solution</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                        </div>
                        <div class="Bttn mt-4"> <a href="#">Create Account Free</a> </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-help">
                            <figure><img :src="this.ASSET_URL+'frontend/images/p2.png'" alt=""></figure>
                            <div class="video-top"><img :src="this.ASSET_URL+'frontend/images/icon-v.png'" alt=""></div>
                            <div class="chrt-l"><img :src="this.ASSET_URL+'frontend/images/c2.png'" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section2 ptb">
            <div class="container">
                <div class="row d-flex align-items-center ">
                    <div class="col-md-6">
                        <div class="work-img"><img :src="this.ASSET_URL+'frontend/images/ab.png'" alt=""></div>
                    </div>
                    <div class="col-md-6">
                        <div class="sub-head">
                            <h2>How it works</h2>
                            <h3>Create account</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaini</p>
                        </div>
                        <div class="timeline-fld">
                            <ul class="timeline">
                                <li class="active-tl"></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section3 ptb">
            <div class="container">
                <div class="sub-head text-center">
                    <h2>What our users have to say</h2>
                </div>
                <div class="testimonial-slider owl-carousel owl-theme">
                    <div class="item-say d-flex justify-content-center">
                        <div class="say-img"><img :src="this.ASSET_URL+'frontend/images/say.png'" alt=""></div>
                        <div class="say-cont">
                            <h3>PG is exactly what I needed.</h3>
                            <p><strong>THOMOS S.</strong> SYSTEMS ENGINEER & CONSULTANT</p>
                        </div>
                    </div>
                    <div class="item-say d-flex justify-content-center">
                        <div class="say-img"><img :src="this.ASSET_URL+'frontend/images/say.png'" alt=""></div>
                        <div class="say-cont">
                            <h3>PG is exactly what I needed.</h3>
                            <p><strong>THOMOS S.</strong> SYSTEMS ENGINEER & CONSULTANT</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <Footer/>
    </main>
</template>
<<script>
	import Header from './Header-home.vue';
    import Footer from './Footer.vue';
	
	export default {
	
	    data() {
	        return {
	           	token: localStorage.getItem('user-auth-token'),
				groups:[],
				profile_pic:"",
				user:[],
            	user_permission:[],
				user_role:"",
                settings:{
                     dots: true,
                    focusOnSelect: true,
                    infinite: true,
                    speed: 500,
                    slidesToShow: 5,
                    slidesToScroll: 5,
                    touchThreshold: 5,
                    arrows:true
                }
         
	        }
	    },
	    components:{
			Header,
            Footer
	    },
	    methods: {
            user_profile :function () {
				axios.defaults.headers.common['Authorization'] = `Bearer ${this.token}`;
                axios.post(this.API_BASE_URL + 'get_user').then(response => {
                    let data = response.data.data;
					this.user = data;
					this.profile_pic = data.profile_picture.path;
					console.log(this.profile_pic);
					this.user_permission = data.user_permission;
					this.user_role = data.user_permission[0].roles.role_name;
                }).catch(error => {
                });
            },
			all_groups: function(){
				axios.get(this.API_BASE_URL+'groups').then(response => {
					this.groups = response.data.data;
					console.log(this.groups);
				})
				.catch(error => {
					console.log("error");
				});

			},
            logout:function () {
				localStorage.removeItem('user-auth-token');
                localStorage.removeItem('user-auth-token_expiresIn');
                Vue.$toast.error('Logged out successfully', {
                        position: 'top-right'
				})
                this.$router.push({ name: 'front_login' });
            },
			join_group:function(group_id){
				axios.post(this.API_BASE_URL+'user/send_group_join_request',{"user_id":this.user.id,"group_id":group_id}).then(response =>{
					console.log(response.data);
				}).catch(error =>{

				});
			}
	    },
		beforeMount(){
            $(".page-loader").hide();
			this.user_profile();
			this.all_groups();
		},
	}
</script>