<template>
    <main>
        <div class="page-loader" v-if="this.isLoading == true"></div>
        <div class=" row body-wrp">
            <div class="login_fld">
                <div class="login-left">
                    <div class="login-logo"><img :src="this.ASSET_URL+'frontend/images/logo.png'"></div>
                    <carousel :autoplay="true" :nav="false" :items="1" :loop="true" :margin="10" class="">
                       <img :src="this.ASSET_URL+'frontend/images/login-img.png'" alt="">
                       <img :src="this.ASSET_URL+'frontend/images/login-img.png'" alt="">
                       <img :src="this.ASSET_URL+'frontend/images/login-img.png'" alt="">
                    </carousel>
                </div>
                <div class="login-right">
                    <div class="login-btn">
                        <router-link  class="active" to="login">Sign In</router-link>
                        <router-link  to="signup">Sign Up</router-link>
                    </div>
                    <div class="login-container-content">
                        <h2>Sign in</h2>
                    </div>
                    <div class="login-social-btn"> <a class="fb-btn" href="#"><span><i class="fa fa-facebook" aria-hidden="true"></i></span>Facebook</a> <a class="g-btn" href="#"><span><i class="fa fa-google" aria-hidden="true"></i></span>Google</a> </div>
                    <div class="login-frm" >
                        <form @submit.prevent="handleSubmit">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address or phone number</label>
                                <input type="email" v-model="user.email" class="form-control" id="exampleInputEmail1" placeholder="benschmidt@gmail.com" :class="{ 'is-invalid': submitted && $v.user.email.$error }">
                                 <div v-if="submitted && $v.user.email.$error" class="invalid-feedback">
                                    <span v-if="!$v.user.email.required">Email is required</span>
                                    <span v-if="!$v.user.email.email">Email is invalid</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" v-model="user.password" class="form-control" id="exampleInputPassword1" placeholder="" :class="{ 'is-invalid': submitted && $v.user.password.$error }">
                                <div v-if="submitted && !$v.user.password.required" class="invalid-feedback">User Password is required</div>
                            </div>
                            <div class="for-link"> <a href="#" data-target="#pwdModal" data-toggle="modal">Forgot Password?</a>
                                <button type="submit" class="sign-btnn btn-lg btn-block">Sign in</button>
                            </div>
                            <div class="dnt-fld">
                                <span>
                                    <p>Don't have an account?</p>
                                </span>
                                <span><a :href="this.SITE_URL+'signup'">Sign up</a></span> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="text-center">
                                    <p>Please enter registered email id to get new password over the mail</p>
                                        <div class="panel-body">
                                            <fieldset>
                                                <form  @submit.prevent="handleForgotpwd">
                                                    <div class="form-group">
                                                        <input type="email" v-model="forgot_pwd.email" class="form-control" id="exampleInputEmail1" placeholder="benschmidt@gmail.com" :class="{ 'is-invalid': submittedforgotPwd && $v.forgot_pwd.email.$error }">
                                                        <div v-if="submittedforgotPwd && $v.forgot_pwd.email.$error" class="invalid-feedback">
                                                            <span v-if="!$v.forgot_pwd.email.required">Email is required</span>
                                                            <span v-if="!$v.forgot_pwd.email.email">Email is invalid</span>
                                                        </div>
                                                    </div>
                                                    <input class="btn btn-lg btn-primary btn-block" value="Send My Password" type="submit">
                                                </form>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
        <div class="spanner">
        <div class="loader"></div>
        <p>Uploading music file, please be patient.</p>
        </div>
        <Footer/>
    </main>
    
</template>
<script>

    import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
    import Footer from './Footer.vue';
    export default {

        data() {
            return {
                user:{
                    email:"",
                    password:"",
                },
                submitted: false,
                submittedforgotPwd: false,
                forgot_pwd:{
                    email:""
                }
            }
        },
        validations: {
            user:{
                email: { required,email },
                password: { required }
            },

            forgot_pwd:{
                email:{required}
            }
        },
        components:{
            Footer
        },
        
        methods: { 
            handleSubmit(e) {
                this.submitted= true;
                this.$v.user.$touch();
                if (this.$v.user.$invalid) {
                    return;
                }
                axios.post(this.API_BASE_URL + 'auth/login', this.user).then(response => {
                    let data = response.data;
                    if(data.status == '200'){
                       this.isLoading = true;
                        var now = Date.now();
                        var schedule = 10080; 
                        axios.defaults.headers.common.Authorization = `Bearer ${data.token}`;
                        localStorage.setItem('user-auth-token', data.token);
                        localStorage.setItem('user-auth-token_expiresIn', schedule);
                        Toast.fire({
                            icon: 'success',
                            title: "Logged in successfully !"
                        });
                        this.$router.push('profile');
                    } else{
                        Toast.fire({
                            icon: 'error',
                            title: data.message
                        });
                    }
                }).catch(error => {
                    Toast.fire({
                        icon: 'error',
                        title: data.message
                    });
                });
            },
            handleForgotpwd(e){
                this.submittedforgotPwd = true;
                this.$v.forgot_pwd.$touch();
                if (this.$v.forgot_pwd.$invalid) {
                    console.log(3);
                    return;
                }else{
                    $("#pwdModal").modal("hide");
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();

                    axios.post(this.API_BASE_URL + 'forgot_password', this.forgot_pwd).then(response => {
                        let data = response.data;
                        if(data.status == '200'){
                            Vue.$toast.success(data.message, {
                                position: 'top'
                            });
                        } else{
                            Vue.$toast.error(data.message, {
                                position: 'top'
                            })
                        }
                    }).catch(error => {
                        Vue.$toast.error(data.message, {
                            position: 'top'
                        })
                    });
                }
            }
        }
    }
</script>