<template>
	<main>
		<Header/>
		<section class="inr-banner">
			<div class="container">
				<div class="cover-img"><img :src="this.ASSET_URL+'frontend/images/covr-img.png'" alt=""></div>
				<div class="fro-fld">
					<figure><img :src="this.UPLOADS_URL+this.profile_pic" alt="" class="rounded-circle"></figure>
					<span class="profile-details">
						<h3>{{user.name}}</h3>
						<p><span><i class="fa fa-lock" aria-hidden="true"> {{user.occupation}}</i></span></p>
					</span>
				</div>
			</div>
		</section>
		<div class="body-wrpp">
			<section class="profile-section">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="side-menu">
								<ul>
									<li class="active"><a href="#">About</a></li>
									<!-- <li><a href="#">My Group</a></li> -->
									<li><a href="#">My Booking</a></li>
									<li><a href="#">Advisors</a></li>
									<li><a href="#">Posts</a></li>
									<li><a href="#">Payments</a></li>
									<li><a href="#">My Message</a></li>
									<li><a href="#">My Earnings</a></li>
								</ul>
							</div>
							<div class="consult-fld-new  d-flex">
								<div class="consult-img"><img :src="this.ASSET_URL+'frontend/images/c1.png'" alt=""></div>
								<div class="consult-text">
									<p>Consult with</p>
									<h5>Mario Wolfgang Fröhlich</h5>
									<p>Advisor</p>
								</div>
								<div class="ply-icon"><i class="fa fa-video-camera" aria-hidden="true"></i> </div>
							</div>
						</div>
						<div class="col-md-8">
							<div class="info-fld">
								<div id="tabs" class="project-tab">
									<div class="container">
										<div class="row">
											<div class="col-md-12">
												<nav>
													<div class=" tab-top nav nav-tabs nav-fill" id="nav-tab" role="tablist">
														<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Personal information</a>
														<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Education details</a>
														<!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Details about you</a> -->
													</div>
												</nav>
												<div class="tab-content" id="nav-tabContent">
													<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
														<div class="bg_white">
															<div class="d-flex justify-content-between">
																<div class="personal-info">
																	<h4>Contact Info</h4>
																	<h5>{{user.contact_number}}</h5>
																</div>
																<div class="edit-fld">
																	<span><i class="fa fa-lock" aria-hidden="true"></i></span>
																	<span><i class="fa fa-pencil" aria-hidden="true"></i></span>
																</div>
															</div>
															<div class="d-flex justify-content-between">
																<div class="personal-info">
																	<h5>{{user.email}}</h5>
																	<p>Email address</p>
																</div>
																<div class="edit-fld">
																	<span><i class="fa fa-lock" aria-hidden="true"></i></span>
																	<span><i class="fa fa-pencil" aria-hidden="true"></i></span>
																</div>
															</div>
															<div class="personal-info d-flex align-items-center">
																<span class="plus-icon">
																<img :src="this.ASSET_URL+'frontend/images/plus.png'" alt="">
																</span>
																<span class="text-sb">WhatsApp Number</span>
															</div>
															<div class="form-fld">
																<form @submit.prevent="handleWpNumber">
																	<div class="form-group">
																		<div class="input-group mb-3">
																			<input type="text"  v-model="user_details.wp_number" class="form-control" placeholder="What's app number" aria-label="" aria-describedby="basic-addon2" :class="{ 'is-invalid': submithandleWpNumber && $v.user_details.wp_number.$error }">
																			<div class="input-group-append">
																				<button class="btn btn-primary">Submit</button>
																			</div>
																			 <div v-if="submithandleWpNumber && $v.user_details.wp_number.$error" class="invalid-feedback">
																				<span v-if="!$v.user_details.wp_number.required">Whats App Number is required</span>
																				<span v-if="!$v.user_details.wp_number.maxLength">Number Length must be 10</span>
																				<span v-if="!$v.user_details.wp_number.minLength">Number Length must be 10</span>
																			</div>
																		</div>
																	</div>
																</form>
															</div>
												
															<div class="d-flex justify-content-between">
																<div class="personal-info">
																	<h4>Basic Info</h4>
																	<h5>{{user.dob}}</h5>
																	<p>Date of birth</p>
																</div>
																<div class="edit-fld">
																	<span><i class="fa fa-lock" aria-hidden="true"></i></span>
																	<span><i class="fa fa-pencil" aria-hidden="true"></i></span>
																</div>
															</div>
															<div class="d-flex justify-content-between">
																<div class="personal-info">
																	<h5>{{user.gender == '0' ? "Male" : "Female"}}</h5>
																	<p>Gender</p>
																</div>
																<div class="edit-fld">
																	<span><i class="fa fa-lock" aria-hidden="true"></i></span>
																	<span><i class="fa fa-pencil" aria-hidden="true"></i></span>
																</div>
															</div>
														</div>
													</div>
													<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
														<div class="bg_white">
														
																<div class="form-fld">
																	<form @submit.prevent="handleEducationDetails">
																		<div class="form-group">
																			<label for="exampleInputEmail1">Highest Qualification</label>
																			<input type="text" v-model="user_details.highest_qualification" class="form-control" id="exampleInputEmail1" placeholder="Highest Qualification" :class="{ 'is-invalid': submittedEducation && $v.user_details.highest_qualification.$error }">
																			<div v-if="submittedEducation && !$v.user_details.highest_qualification.required" class="invalid-feedback">Please Enter Highest Qualification</div>
																		</div>
																		<div class="form-group">
																			<label for="exampleInputEmail1">Institute Name</label>
																			<input type="text" v-model="user_details.institute_name" class="form-control" id="exampleInputEmail1" placeholder="Institute Name" :class="{ 'is-invalid': submittedEducation && $v.user_details.institute_name.$error }">
																			<div v-if="submittedEducation && !$v.user_details.institute_name.required" class="invalid-feedback">Please Enter Institute Name</div>
																		</div>
																		<div class="form-group">
																			<button class="btn btn-primary">Submit</button>
																		</div>
																	</form>
																</div>
														</div>
													</div>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="suggested-fld ptb">
				<div class="container">
					<div class="recently-list bg_white arrw-all ">
						<div class="d-flex justify-content-between align-items-center">
							<div class="sub-head head-sm">
								<h2>My Group</h2>
							</div>
						</div>
						<div class="recently-slider">
							<div v-if="my_joined_groups.length > 0"> 
								<carousel :autoplay="true" :nav="true" :items="5" :loop="true" :margin="10">
									<div class="item-box"  v-for="my_groups_arr in my_joined_groups" :key="my_groups_arr.id" @click="group_details(my_groups_arr.group.group_slug)">
										<div class="img-box">
											<figure>
												<img v-if="my_groups_arr.group.profile_picture != null"    :src="UPLOADS_URL+my_groups_arr.group.profile_picture.path" alt="">
												<img v-else :src="UPLOADS_URL+'images/noimage.jpg'" alt="">
											</figure>
											<div class="memb-text">
												<h5>{{my_groups_arr.group.group_name}}</h5>
											</div>
										</div>
										<div class="des-cont">
											<p><strong>152K</strong> Doctors, <strong>12K</strong> Advocate, <strong>11K</strong> Nurse, <strong>2K</strong> Civil Engineer, <strong>1K</strong> Writer...</p>
										</div>
									</div>
								</carousel>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="suggested-fld ptb">
				<div class="container">
					<div class="suggested-group recently-list bg_white arrw-all ">
						<div class="d-flex justify-content-between align-items-center">
							<div class="sub-head head-sm">
								<h2>Suggested Group</h2>
							</div>
						</div>
						<div class="suggested-slider">
							<div v-if="suggested_groups.length > 0"> 
								<carousel :autoplay="true" :nav="true" :items="5" :loop="true" :margin="10">
									<div class="item-box"  v-for="group in suggested_groups" :key="group.id">
										<div class="img-box">
											<figure>
												<img v-if="group.profile_picture != null"    :src="UPLOADS_URL+group.profile_picture.path" alt="">
												<img v-else :src="UPLOADS_URL+'images/noimage.jpg'" alt="">
											</figure>
											<div class="memb-text">
												<h5>{{group.group_name}}</h5>
												<p>Pay: ${{group.group_charge}}</p>
											</div>
										</div>
										<div class="des-cont">
											<p><strong>152K</strong> Doctors, <strong>12K</strong> Advocate, <strong>11K</strong> Nurse, <strong>2K</strong> Civil Engineer, <strong>1K</strong> Writer...</p>
										</div>
										<div class="join-btn" @click="join_group(group.id)"> <a href="javascript:void(0)" >Join the Group</a> </div>
									</div>
								</carousel>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="suggested-fld ptb">
				<div class="container">
					<div class="recently-list bg_white arrw-all ">
						<div class="d-flex justify-content-between align-items-center">
							<div class="sub-head head-sm">
								<h2>Join Request Sent</h2>
							</div>
						</div>
						<div v-if="join_requested_groups.length > 0"> 
							<carousel :autoplay="true" :nav="true" :items="5" :loop="true" :margin="10">
								<div class="item-box"  v-for="join_req_grps in join_requested_groups" :key="join_req_grps.id">
									<div class="img-box">
										<figure>
											<img v-if="join_req_grps.group.profile_picture != null" :src="UPLOADS_URL+join_req_grps.group.profile_picture.path" alt="">
											<img v-else :src="UPLOADS_URL+'images/noimage.jpg'"  alt="">
										</figure>
										<div class="memb-text">
											<h5>{{join_req_grps.group_name}}</h5>
										</div>
									</div>
									<div class="des-cont">
										<p><strong>152K</strong> Doctors, <strong>12K</strong> Advocate, <strong>11K</strong> Nurse, <strong>2K</strong> Civil Engineer, <strong>1K</strong> Writer...</p>
									</div>
								</div>
							</carousel>
						</div>
					</div>
				</div>
			</section>
			
		</div>
		<Footer/>
	</main>
</template>
<script>
 $(document).ready(function(){
  $('#dropDown').click(function(event){
    $('.drop-down').toggleClass('drop-down--active');
    event.stopPropagation();
  });
  $(document).click(function(event) {
      if (!$(event.target).hasClass('drop-down--active')) {
          $(".drop-down").removeClass("drop-down--active");
      }
    });
});
</script>
<script>
	import Footer from './Footer.vue';
	import Header from './Header-home.vue';
	import { required, email, minLength, sameAs,numeric,maxLength } from "vuelidate/lib/validators";
	
	export default {
	    data() {
	        return {
	           	token: localStorage.getItem('user-auth-token'),
				groups:[],
				my_joined_groups:[],
				suggested_groups:[],
				join_requested_groups:[],
				profile_pic:"",
				user:[],
            	user_permission:[],
				user_role:"",
				user_details:{
					user_id:"",
					wp_number:"",
					highest_qualification:"",
					institute_name:""
				},
				submithandleWpNumber:false,
				submittedEducation:false
	        }
	    },
	    components:{
			Header,
			Footer
	    },
		 validations: {
            user_details:{
                wp_number: {required,numeric,minLength: minLength(10),maxLength:maxLength(10)},
				highest_qualification:{required},
				institute_name:{required},
            }
        },
	    methods: {
			handleWpNumber: function(){
				this.submithandleWpNumber = true;
				this.$v.user_details.wp_number.$touch();
                if (this.$v.user_details.wp_number.$invalid) {
                    return;
                }
				axios.defaults.headers.common['Authorization'] = `Bearer ${this.token}`;
                axios.post(this.API_BASE_URL + 'user/update_wp_number',{"user_id":this.user.id,"wp_number":this.user_details.wp_number}).then(response => {
					let data = response.data.data;
					console.log(data);
					
                }).catch(error => {

                });
				console.log(this.user_details.wp_number)
			},
			handleEducationDetails: function(){
				this.submittedEducation = true;
				this.$v.user_details.highest_qualification
				this.$v.user_details.$touch();
                if (this.$v.user_details.highest_qualification.$invalid && this.$v.user_details.institute_name.$invalid ||this.$v.user_details.highest_qualification.$invalid || this.$v.user_details.institute_name.$invalid) {
                    return;
                }
				this.user_details.user_id = this.user.id;
				axios.defaults.headers.common['Authorization'] = `Bearer ${this.token}`;
                axios.post(this.API_BASE_URL + 'user/update_educationdetails',this.user_details).then(response => {
					let data = response.data.data;
					console.log(data);
					
                }).catch(error => {

                });
				console.log(this.user_details.wp_number)
			},
            user_profile :function () {
				axios.defaults.headers.common['Authorization'] = `Bearer ${this.token}`;
                axios.post(this.API_BASE_URL + 'get_user').then(response => {
					console.log(response.data,"user_profile");
                    let data = response.data.data;
					this.user = data;
					this.profile_pic = data.profile_picture.path;
					console.log(this.profile_pic);
					this.user_permission = data.user_permission;
					this.user_role = data.user_permission[0].roles.role_name;
					this.user_details.wp_number = data.user_details.whatsapp_number;
					this.user_details.highest_qualification = data.user_education_details.highest_qualification;
					this.user_details.institute_name = data.user_education_details.institute_name;
					localStorage.setItem("identification",this.user);
					if(response.data.status == 401){
						this.$router.push('/landing');
					}
                }).catch(error => {
					console.log(2);
                });
            },
			all_groups: function(){
				axios.get(this.API_BASE_URL+'groups').then(response => {
					this.groups = response.data.data;
					console.log(this.groups);
				})
				.catch(error => {
					console.log("error");
				});
			},
			join_group:function(group_id){
				axios.post(this.API_BASE_URL+'user/send_group_join_request',{"user_id":this.user.id,"group_id":group_id}).then(response =>{
					console.log(response.data);
					Vue.$toast.success("Join request sent successfully!!",{
						"position": "top-right", 
					});
					this.my_groups();
				}).catch(error =>{
					console.log(response.data);
				});
			},
			my_groups:function(){
				axios.post(this.API_BASE_URL+'get_user_group_info',{"user_id":this.user.id}).then(response =>{
					this.my_joined_groups = response.data.my_group;
					this.suggested_groups = response.data.suggested_group;
					this.join_requested_groups = response.data.join_requests;
					console.log(response.data,"my group");
				}).catch(error =>{
					console.log(response.data);
				});
			},
			group_details: function(slug){
				console.log(slug);
				this.$router.push('/group/'+slug);
			}
	    },
		beforeMount(){

			this.user_profile();
			this.all_groups();
			this.my_groups();
		}
		
	}
</script>