<template>
    
 
    <main>
        
        <div class="row body-wrp">
            <div class="container login_fld">
                <div class="login-left">
                    <div class="login-logo"><img :src="this.ASSET_URL+'frontend/images/logo.png'"></div>
                    <carousel :autoplay="true" :nav="false" :items="1" :loop="true" :margin="10" class="">
                       <img :src="this.ASSET_URL+'frontend/images/login-img.png'" alt="">
                       <img :src="this.ASSET_URL+'frontend/images/login-img.png'" alt="">
                       <img :src="this.ASSET_URL+'frontend/images/login-img.png'" alt="">
                    </carousel>
                </div>
                <div class="login-right">
                    <div class="login-btn">
                        <router-link to="login">Sign In</router-link>
                        <router-link  class="active" to="signup">Sign Up</router-link>
                    </div>
                    <div class="login-container-content">
                        <h2>Sign up</h2>
                    </div>
                    <div class="login-frm">
                        <form @submit.prevent="handleSubmit">
                            <div class="form-group">
                                <label>User Name</label>
                                <input type="text" v-model="user.name" class="form-control" placeholder="Enter User Name" :class="{ 'is-invalid': submitted && $v.user.name.$error }">
                                <div v-if="submitted && !$v.user.name.required" class="invalid-feedback">User Name is required</div>
                            </div>
                            <div class="form-group">
                                <label>Email Address</label>
                                <input type="email" class="form-control" placeholder="Enter your email address" v-model="user.email" :class="{ 'is-invalid': submitted && $v.user.email.$error }">
                                <div v-if="submitted && $v.user.email.$error" class="invalid-feedback">
                                    <span v-if="!$v.user.email.required">Email is required</span>
                                    <span v-if="!$v.user.email.email">Email is invalid</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" v-model="user.contact_number" class="form-control" placeholder="Enter your contact number" :class="{ 'is-invalid': submitted && $v.user.contact_number.$error }" maxlength="10" onkeyup="this.value = this.value.replace(/[^0-9]/g,'');">
                                <div v-if="submitted && !$v.user.contact_number.required" class="invalid-feedback">User Phone Number is required</div>
                            </div>
                            <div class="form-group">
                                <label>Occupation</label>
                                <input type="text" v-model="user.occupation" class="form-control" placeholder="Enter the occupation" :class="{ 'is-invalid': submitted && $v.user.occupation.$error }">
                                <div v-if="submitted && !$v.user.occupation.required" class="invalid-feedback">User occupation is required</div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Date of Birth</label>
                                <input type="date" v-model="user.dob" class="form-control" name="dob" id="dob"  :class="{ 'is-invalid': submitted && $v.user.dob.$error }" >
                                <div v-if="submitted && $v.user.dob.$error" class="invalid-feedback">
                                    <span v-if="!$v.user.dob.required">Date of birth is required</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Gender</label>
                                <div class="row" :class="{ 'is-invalid': submitted && $v.user.gender.$error }">
                                    <div class="col-md-4">
                                        <div class="input-box">
                                            <input type="radio" name="sex" value="0" checked v-model="user.gender">
                                            Male 
                                        </div>
                                    </div>
                                    <div class="col-md-4" :class="{ 'is-invalid': submitted && $v.user.gender.$error }">
                                        <div class="input-box">
                                            <input type="radio" name="sex" value="1" v-model="user.gender">
                                            Female 
                                        </div>
                                    </div>
                                    <div class="col-md-4" :class="{ 'is-invalid': submitted && $v.user.gender.$error }">
                                        <div class="input-box">
                                            <input type="radio" name="sex" value="2" v-model="user.gender">
                                            others 
                                        </div>
                                    </div>
                                    <div v-if="submitted && $v.user.gender.$error" class="invalid-feedback">
                                        <span v-if="!$v.user.gender.required">Please select user gender</span>
                                    </div>  
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" v-model="user.password" class="form-control" placeholder="Enter a strong password" :class="{ 'is-invalid': submitted && $v.user.password.$error }">
                                <div v-if="submitted && !$v.user.password.required" class="invalid-feedback">Password is required</div>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" v-model="user.confirm_password" class="form-control" placeholder="Re-enter your password" :class="{ 'is-invalid': submitted && $v.user.confirm_password.$error }">
                                <div v-if="submitted && !$v.user.confirm_password.required" class="invalid-feedback">Confirm Password is required</div>
                            </div>
                            <div class="for-link">
                                <button type="submit" class="sign-btnn btn-lg btn-block">Sign up</button>
                            </div>
                            <div class="dnt-fld">
                                <span>
                                    <p>Already have an account?</p>
                                </span>
                                <span><router-link to="login">Login in</router-link></span> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
       <FooterVue/>
    </main>
</template>

<script>

    import { required, email, minLength, sameAs,numeric,maxLength } from "vuelidate/lib/validators";
    import FooterVue from './Footer.vue';


    export default {

        data() {
            return {
                user:{
                    name:"",
                    email:"",
                    password:"",
                    occupation:"",
                    contact_number:"",
                    dob:"",
                    gender:"",
                    confirm_password:""
                },
                submitted: false,
                registration_status :false
            }
        },
        validations: {
            user:{
                name: {required},
                email: { required,email },
                contact_number: {required,numeric,minLength: minLength(10),maxLength:maxLength(10)},
                dob: { required },
                gender: { required },
                password: { required, minLength: minLength(6) },
                occupation:{required},
                confirm_password: { required,sameAs:sameAs('password') },
            }
            
        },
        components:{
            FooterVue
        },
        methods: {
            handleSubmit(e) {
                this.submitted = true;
                this.$v.$touch();
                if (this.$v.$invalid) {
                    return;
                }
                axios.post(this.API_BASE_URL + 'register', this.user).then(response => {
                    let data = response.data;
                    if(data.status == '200'){
                        this.registration_status = true;
                        axios.defaults.headers.common.Authorization = `Bearer ${data.token}`;
                        localStorage.setItem('user-auth-token', data.token);
                        Vue.$toast.success(data.message, {
                            position: 'top'
                        })
                    } else{
                        Vue.$toast.error(data.message, {
                            position: 'top'
                        })
                    }
                    //window.location.href = "/profile";
                    this.$router.push('/profile');
                }).catch(error => {
                    Vue.$toast.error(data.message, {
                        position: 'top'
                    })
                });

                if(this.registration_status == true){
                   window.location.href = "/profile";
                }
            } 
        }
    }
</script>