<template>
    <main>
        <Header/>
            <section class="inr-banner">
                
            </section>
            <div class="content">
                <div class="body-wrpp">
                    <div class="container">
                        <div class="priv-fld">
                            <h2 class="text-center">Terms & Conditions</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when ang dummy text lorem.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when ang dummy text lorem.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when ang dummy text lorem.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when ang dummy text lorem.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when ang dummy text lorem.</p>
                        </div>
                    </div>
                </div>
            </div>
        <Footer/>
    </main>
</template>
<script>

import Footer from './Footer.vue';
import Header from './Header-home.vue';
export default {
        data(){
            return {
                content : ""
            }
        },
        components:{
			Header,
            Footer
	    },
    
    
  
}
</script>
